[2020-07-28 18:25] ttwalkertt opened #77 "motr unit tests reports memory leaks"
[ut.txt](https://github.com/Seagate/cortx/files/4990383/ut.txt)

Hello-

the motr unit tests report memory leaks. Are these explained or expected?

Thank you.

**Details:**
  coroutine [Anatoliy]                            0.00 sec    0 B
  [ time: 9.08 sec, mem: 72 MiB, leaked: 62 MiB ]

  sm-add [Nikita]                                 0.00 sec  332 KiB
  [ time: 0.01 sec, mem: 38 MiB, leaked: 6

[2020-08-17 02:15] yanqingfu opened #76 "cortx-motr repetition run libconsole-ut Lockers table overflow"
1. `./scripts/m0 run-ut`
 - **SUCCESS**

2. `./scripts/m0 run-ut -n 1`
 - **SUCCESS**

3. `./scripts/m0 run-ut -n 2`

4. `./scripts/m0 run-ut -t libconsole-ut`
 - **SUCCESS**

abnormal behavior for n>1, this behavior is not random, it's very repetitive

[2020-08-17 07:25] parikshit-dharmale opened #23 "reading-list.md needs to be updated with sharepoint links"
The [Motr Reading List](https://github.com/Seagate/cortx-motr/blob/dev/doc/reading-list.md) readme has **almost all the links** redirecting to google docs.
These links needs to be updated with respective sharepoint links.

There is also reading-list.html file which also needs to be updated (not sure whether this file is required or not as we already have reading-list.md)

cc @johnbent

[2020-08-17 07:58] yanqingfu opened #4 "cortx-motr 08spiel-sns-repair-quiesce seems enter an infinite loop"
it runs more than three hours and still running, also it used more than 40G of the space. system info 8vCPU, 16GB RAM, 8x100GB Disks. This behavior happens randomly.

from the source code
[code]
if the active in the while loop is not equal to 0, it will run forever. Maybe we need to add a time limit to the code? for example, if after one hour the test was not finished, break.

08spiel-sns-repair w

[2020-08-17 11:54] yanqingfu opened #7 "cortx-motr 51kem missing x86_64 kernel/module"
why test status is still **SUCCESS**?

[2020-08-17 15:09] yanqingfu opened #19 "cortx-motr check-everything CONFIGURE_OPTS: unbound variable"
[root@ssc-vm-0925 cortx-motr]# ./scripts/m0 check-everything
----- check_everything -----
./scripts/m0: line 158: CONFIGURE_OPTS: unbound variable

[2020-08-20 16:00] yanqingfu opened #8 "cortx-motr ut net-lnet panic"
`./scripts/m0 run-ut` failed

but run net-lnet alone was not failed.

[2020-08-21 07:25] yanqingfu opened #12 "cortx-motr 08spiel-sns-repair-quiesce m0t1fs read failed"
/var/motr/root/sandbox.st-08spiel-sns-repair-quiesce/motr_2020-08-21_00:28:54.log:

[2020-08-25 06:46] kaustubh-d opened #122 "motr BE segment size should be configurable"
motr BE segment size should be configurable via provisioner. This is required for Cortx to run on 4U100 where the metadata disks are around ~300GB. Such can be a case in open source community where users may have different disks sizes.

Currently for physical setups are using 5T which is default in motr.conf
`/opt/seagate/cortx/motr/conf/motr.conf:MOTR_M0D_BESEG_SIZE=5497558138880`
`/etc/sysconfig

[2020-08-25 14:42] ttwalkertt opened #13 "LNet reporting drops."
Hello-

While operating under S3 load, a VM instance is logging these errors to the system log:

_[  435.699805] LNetError: 4944:0:(lib-ptl.c:190:lnet_try_match_md()) Matching packet from 12345-192.168.10                                       .13@tcp, match 9007199254740992 length 69632 too big: 1048576 left, 65536 allowed
[  435.699862] LNetError: 4944:0:(lib-ptl.c:190:lnet_try_match_md()) Skippe

[2020-08-26 19:01] johnbent opened #22 "Can/should we create Doxygen?"
Hello @nikitadanilov ,

In https://github.com/Seagate/cortx-motr/pull/233/files/ba835da44d825a329c7c4694087f9e3b7ebea369..dd549c1eec91f9c8bae2d4be430547aea3957c08, I saw that you mentioned Doxygen.  Are the motr source files set up for Doxygen?  If so, are the developers currently using Doxygen auto-generated servers?  If so, where?  If it is not currently set up, or if it is set up but only inter

[2020-09-01 16:59] johnbent opened #21 "Broken/inaccessible links"
Hello @VenkyOS

There are multiple inaccessible links in https://github.com/Seagate/cortx-motr/blob/dev/doc/reading-list.md.  Can you please migrate these documents to github and fix these links?

Thanks to @olsterd for reporting this!

John

[2020-09-01 17:43] ShrihariWaskar opened #20 "Test hung or taking more time to pass while "run-st""
I did successfully build the motr. I ran unit tests(run-ut) and kernel unit tests(run-kut) which were passed.
then I ran one system test "52motr-singlenode-sanity" which also got passed.
after that when started to run all system tests(run-st), the test was stuck/hung at a point shown in the screenshot.
![motr_system_test_hung](https://user-images.githubusercontent.com/65270162/91887318-438a0100-ec

[2020-09-01 21:23] johnbent opened #18 "Please move a document"
Hello @VenkyOS

Can you please move https://github.com/Seagate/cortx/blob/main/doc/be/motr-in-prose.md into the cortx-motr repo?  This will entail two PR's.  First please use a PR to cortx-motr to add it there.  After that is done, then please remove it from the existing location and update the link to it here: https://github.com/Seagate/cortx/blob/main/doc/architecture.md.

Thanks,

John

[2020-09-03 06:23] kaustubh-d opened #17 "lnet failure on latest centos 7 kernel with Mellanox"
Am trying Cortx on latest Centos 7.8.2003 kernel 3.10.0-1127.19.1.el7.x86_64. I built lustre clients using `https://github.com/Seagate/cortx-re/blob/master/scripts/release_support/build_lustre.sh` on latest kernel using mlnx ofed that has support for rhel 7.8 `https://linux.mellanox.com/public/repo/mlnx_ofed/4.9-0.1.7.0/rhel7.8/x86_64/UPSTREAM_LIBS/`

But if I try to start lnet, I get below errors

[2020-09-03 15:54] johnbent opened #16 "https://github.com/Seagate/cortx/blob/main/doc/be/CORTX_CORE_ARCHITECTURE.rst"
@nikitadanilov should this file (https://github.com/Seagate/cortx/blob/main/doc/be/CORTX_CORE_ARCHITECTURE.rst) be moved from the 'cortx' parent repo to the 'cortx-motr' repo?  What do you think?

[2020-09-06 06:44] imvenkip opened #15 ""mero" string is visible in test name and results."
mero-single-node.28motr-sys-kvs-test.test (from xperior)

http://eos-jenkins.colo.seagate.com/job/Release_Engineering/job/github-work/job/GitHub%20Multibranch%20Jobs/job/motr-multibranch/job/PR-318/5/testReport/junit/mero-single-node/28motr-sys-kvs-test/test/

![temp-1](https://user-images.githubusercontent.com/44456073/92319870-73cff780-f03a-11ea-971e-42e80e80315b.png)
![temp-2](https://user-imag

[2020-09-11 04:12] yanqingfu opened #14 "motr system test 44motr-rm-lock-cc-io Binary files /var/motr/src_file and /var/motr/dest_file2 differ Files differ, object got corrupted"
[root@ssc-vm-1061 cortx-motr]# ./scripts/m0 run-st 44motr-rm-lock-cc-io
----- run_st 44motr-rm-lock-cc-io -----
<< 44motr-rm-lock-cc-io >>
Motr RM lock CC_IO Test ...
n k p:2 1 4
vm.max_map_count = 30000000
motr_service_start: (N,K,P)=(3,2,20) nr_ios=4 multiple_pools=0
1+0 records in
1+0 records out
1048576 bytes (1.0 MB) copied, 0.00171417 s, 612 MB/s
1+0 records in
1+0 records out
1048576 bytes

[2020-09-13 06:39] yanqingfu opened #10 "m0cp write need to create .img file first?"
followed https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md#16-perform-the-io

do we need to create .img file first?

[2020-09-15 23:42] johnbent opened #11 "Link to Venky fork?!?"
The README is looking nice!  However, it is linking to a Venky fork . . .
https://github.com/Seagate/cortx-motr/blob/dev/README.rst

Says this: "Refer Reading - list for complete information."

And then Reading list is a link to a file in Venky's fork: https://github.com/VenkyOS/cortx-motr/blob/dev/doc/reading-list.md and that file contains tons of 404 URL's.

@VenkyOS , please clean all this up.

[2020-09-17 21:35] daniarherikurniawan opened #9 "Lustre network failed to start"
I was trying to follow this Quick Start Guide, [Building the Source Code](https://github.com/Seagate/cortx-motr/blob/dev/doc/Quick-Start-Guide.rst#building-the-source-code). I got this error at the second step: `IOC_LIBCFS_GET_NI error 100: Network is down` when running `sudo lctl list_nids`. The wiki said "... to check if the lustre network is functioning accurately...",  would be great if it als

[2020-09-21 18:54] johnbent opened #3 "New FDMI docs to be converted to be shared with community"
@VenkyOS , here are some FDMI documents which are currently private to Seagate but should be migrated to github.  Can you please convert them to RST and migrate them into the doc directory and add links to them in https://github.com/Seagate/cortx-motr/blob/dev/doc/reading-list.md?

Here is the private Seagate-only link where the files exist:
https://seagatetechnology.sharepoint.com/:f:/s/gteamdrv1

[2020-09-22 11:51] #15 closed, assigned to nobody

[2020-09-22 12:03] #11 closed, assigned to nobody

[2020-09-22 12:13] #18 closed, assigned to VenkyOS

[2020-09-25 16:49] madhavemuri commented on #17
This issue is resolved.

[2020-10-01 19:27] ttwalkertt opened #70 "motr kernel unit tests reports memory leaks"
Hello-

The motr kernel unit tests ./scripts/mo run-kut reports memory leaks. Is this explained or expected?

Thank you.

**Details:**

Jul 28 12:30:41 cortx-builder-vm1 kernel: #012Time: 105.15 sec, Mem: 369 MiB, Leaked: 13 MiB, Asserts: 36605691#012Unit tests status: SUCCESS

Full output: [kut.txt](https://github.com/Seagate/cortx/files/4990449/kut.txt)

[2020-10-02 18:39] johnbent commented on #21
@VenkyOS , the broken links have been removed but they need to be replaced with fixed links to migrated documents.  Can you please work with @huanghua78 and @nikitadanilov to find the missing docs and migrate them and fix the links please?

[2020-10-02 18:40] johnbent opened #74 "Broken / inaccessible links"
https://github.com/Seagate/cortx-motr/blob/main/doc/motr-design-doc-list.rst has a ton of really nice looking documents but the majority are 404 and the few that aren't 404 are pointing to internal Seagate docs.

@VenkyOS , can you please work to fix this?  For each missing doc, can you work with @huanghua78 and @nikitadanilov to find them please?  For each internal doc, can you migrate/convert th

[2020-10-03 17:06] VenkyOS commented on #21
Sure @johnbent . I will work with @huanghua78 and @nikitadanilov on the same.

[2020-10-03 17:07] VenkyOS commented on #74
@johnbent - I will work with @huanghua78 and @nikitadanilov

[2020-10-08 07:08] rajkumarpatel2602 opened #100 "Repeating cas_fom_tick rc=-2 errors from mero-server"
**_JIRA :_**
https://jts.seagate.com/browse/EOS-8035

**_Affected Version(s) :_**
Cortx-1.0.0-rc1, Cortx-1.0.0-rc2

**_Steps to reproduce :_**
1. Deploy cluster
2. Configure and run S3 I/O: manual one using aws tool or using cosbench tool.
3. Check journalctl logs
4. [**_To generate this issue_**] Request to non-existing index

**_Error log:_**

**_Effect:_**
S3 I/O works, however such errors are

[2020-10-08 07:18] rajkumarpatel2602 commented on #100
Issue is created so that our ever growing cortx community stay aware and one can avoid duplicated effort of issue creation in future.

[2020-10-15 05:58] johnbent opened #121 "Create artificial aging tool"
It is very important to be able to test a system that is aged and that is fragmented and that is almost capacity full.  There's been a ton of excellent academic research about this. For example,
https://research.cs.wisc.edu/adsl/Publications/impressions-fast09.pdf
https://www.usenix.org/system/files/hotstorage19-paper-conway.pdf

However, what I believe most people do when they want to study an ag

[2020-10-16 10:22] andriytk commented on #9
@daniarherikurniawan in the troubleshooting section of the guide doc you mention there is following:

Have you tried the steps mentioned there? Especially, pay attention to /etc/modprobe.d/lnet.conf file and the interface configuration there. Please, let us know if it helps. Thanks.

[2020-10-16 12:35] daniarherikurniawan commented on #9
Yes, it works. Thank you for updating the guide doc.

[2020-10-16 12:35] #9 closed

[2020-10-20 14:24] andriytk commented on #13
@justinzw , @johnbent any idea who can check the above configuration parameters in our [VA](https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst) and possibly fix?

[2020-10-21 16:24] johnbent opened #143 "Improvements in Reading List"
https://github.com/Seagate/cortx-motr/blob/main/doc/motr-design-doc-list.rst

@VenkyOS , please do the following:

1. Add a Column for Title
2. Replace the titles in the actual links with 'PDF', 'RST', 'GDOC', 'DOCX' or 'PPTX' or whatever.  This will make the table much skinnier and more readable.
3. Change the Column Headers to the following:
'Sr. No', 'Source File', 'Source Line', 'Title', 'PDF'

[2020-10-22 04:10] VenkyOS commented on #143
@johnbent - I will work on the same,

[2020-10-22 08:23] harrison-seow-seagate opened #217 "Failed to install kernel-devel for the current kernel"
### Issue
Unable to setup S3 Server as one of the task failed (_install kernel-devel for the current kernel_).

### Description
Following the Startup Guide > [1.2 Installing Dependencies](https://github.com/Seagate/cortx-s3server/blob/dev/docs/CORTX-S3%20Server%20Quick%20Start%20Guide.md#12-installing-dependencies), I have encountered 1 failure after running `./init.sh -a`.

Running `uname -r` giv

[2020-10-25 04:12] yanqingfu opened #155 "44motr-rm-lock-cc-io object got corrupted"
seems read/write process got problem
is this expected?

[2020-10-25 11:49] andriytk commented on #13
@mukul-seagate11 , @VenkyOS , @ipoddubnyy any idea who can fix it in our VA?

[2020-10-26 06:39] mukul-seagate11 commented on #13
@andriytk, did you try validating with new OVA image, https://github.com/Seagate/cortx/releases/download/VA/cortx-va-1.0.2.zip where multiple fixes as gone

[2020-10-26 12:02] andriytk commented on #13
@mukul-seagate11 no. (I'm still waiting for the Fusion 11 license.) But can you check if the parameters I mentioned above are the same in Motr and s3server? (They are different in cortx-va-1.0.1.zip) If they are different, please set S3_MOTR_MAX_RPC_MSG_SIZE to the same value as MOTR_M0D_MAX_RPC_MSG_SIZE.

[2020-10-26 14:18] mukul-seagate11 commented on #13
@nileshgovande @madhavemuri, please verify the parameters in latest ova image

[2020-10-26 15:14] nileshgovande commented on #13
Adding @sachitanands generally for OVA and @knrajnambiar76 for S3_MOTR_MAX_RPC_MSG_SIZE

[2020-10-30 07:14] yanqingfu commented on #155
duplicate as https://github.com/Seagate/cortx-motr/issues/14

[2020-10-30 07:14] #155 closed

[2020-11-05 17:52] johnbent opened #187 "Need Dictionary of Motr Terminology"
FOB, STOB, etc all should be defined in one single Terminology file.

[2020-11-06 11:29] jayeshbadwaik opened #188 "Do not assume `sizeof(int)==sizeof(uint64_t)`"
In the code referenced [here](https://github.com/Seagate/cortx-motr/blob/8813a3d274a0608fce809d5217e0216a7e57430a/lib/types.h#L79), the enumeration assumes `sizeof(int)==sizeof(uint64_t)`. This is not correct and instead one should use `INT_MAX` to get the maximum integer value.

[2020-11-06 12:05] u-u-h commented on #188
This also manifests itself in places where `0xffffffffffffffff` is used as a largest value in an `enum`, which by C standard can only contain `int` values.

[2020-11-16 15:32] PengMacro opened #211 "Graphs in "HDL of DTM" File are Corrupted."
I noticed most of the graphs in [HLD_of_distributed_transaction_manager](https://github.com/Seagate/cortx-motr/blob/main/doc/PDF/HLD_of_distributed_transaction_manager.pdf) are corrupted.
It would be very helpful if they get fixed. Thanks!

[2020-11-16 20:11] daniarherikurniawan opened #214 "ERROR [net/lnet/ulnet_core.c:674:nlx_core_dom_init] when running example1.c"
I successfully run the motr, and it gives me this output:

[code]

So, I run the example1.c by using this following args:
`./example1 "155.98.36.46@tcp:12345:34:1" "155.98.36.46@tcp:12345:33:1000" "<0x7000000000000001:0>" "<0x7200000000000001:64>" "1148576"`

However, I got this error below
[code]

I am running this on "dev" branch because the current "main" branch is broken. Please let me know wh

[2020-11-17 16:45] daniarherikurniawan commented on #217
I solve it by manually install the kernel-devel

[code]

[2020-11-18 03:22] harrison-seow-seagate commented on #217
Thanks for the suggestion @daniarherikurniawan, I installed wget and ran the command you posted before executing `./init.sh -a` but the task still failed (showing the same exact output).

The `PLAY RECAP` output is also exactly the same for each numbers.

In your case, is there no error? Or do you mean you ignore the error and continue on?

[2020-11-19 09:09] raikrahul opened #219 "Unit tests failure while following the guide"
I am following the guide at,

`doc/Quick-Start-Guide.rst`

While  I try to run the Unit tests, I see a possible assert failure

[code]

The relevant output and system info are

[code]

[code]

[code]

[2020-11-20 08:33] huanghua78 commented on #214
Please run with 'root' user, or sudo.

[2020-11-20 23:58] johnbent commented on #211
@VenkyOS can you please help with this?

[2020-11-21 04:20] huanghua78 commented on #219
Thank you for reporting.
This is known issue, and fix will be ready soon.

[2020-11-21 04:22] huanghua78 commented on #211
This is caused by converting this document from online doc to pdf directly.

We need to adjust the pictures a little bit before converting.

[2020-11-21 04:23] huanghua78 commented on #214
I think, you run "setup_a_running_motr_system.sh" with "root" user or sudo, right?

[2020-11-21 04:25] huanghua78 commented on #188
Thank you for report this.

Maybe:
[code]
can be used?

[2020-11-21 04:58] VenkyOS commented on #211
@johnbent - I will correct the same.

Thanks

[2020-11-21 10:06] PengMacro opened #225 "motr-build Error"
I am following "[Quick Start Guide](https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst)" but got below error when ran "sudo ./scripts/install-build-deps":
![image](https://user-images.githubusercontent.com/37490734/99874524-4eb94280-2bae-11eb-9271-a284ed2c1ad0.png)

Here is my kernel and Linux version:
[code]
Thanks!

[2020-11-22 05:31] johnbent commented on #217
@nileshgovande , this seems to be an error with the S3 quick start guide.  Why are we asking motr folks for help?  Because S3 is calling a motr command which is failing?  @Saumya-Sunder , did you recently have success with the S3 quick start guide?

[2020-11-22 12:06] u-u-h commented on #188
Of course not.

If you look at the C99 standard
(e.g. http://www.open-std.org/JTC1/SC22/WG14/www/docs/n1256.pdf)

6.7.2.2 Enumeration specifiers
[...]
Constraints
The expression that defines the value of an enumeration constant shall be an integer constant expression that has a value representable as an int.
[...]
Each enumerated type shall be compatible with char, a signed integer type, or an uns

[2020-11-23 03:34] Saumya-Sunder commented on #217
Yes John, I was able to run both Motr and S3 successfully on a VMware Workstation 16 Pro.

[2020-11-23 03:58] harrison-seow-seagate commented on #217
Hi @Saumya-Sunder , are there any additional steps you have taken compared to the one listed above? Also, the guide doesn't show how the ldap credentials are configured, is it done by the init.sh script?

[2020-11-23 04:28] sachitanands commented on #217
Hi @johnbent  yes, s3 ansible script (init.sh) internally calls motr ansible script (as mentioned in my previous comment) and this step was failing hence we asked help from motr team.

@harrison-seow-seagate ldap credentials are configured as part of s3 ansible script (init.sh) and its documented under "**_Before you begin_**" section of "[1.2.Installing Dependencies](https://github.com/Seagate/co

[2020-11-23 04:36] harrison-seow-seagate commented on #217
@sachitanands , I see. Probably the init.sh script failed for those parts which is why I never had the prompts

[2020-11-23 10:19] PengMacro commented on #225
Downgrading my kernel to 3.10.0-1062.el7 caused this problem. I can build correctly now if keeps using kernel version 3.10.0-1127.19.1.el7.

[2020-11-23 12:11] PengMacro commented on #225
Now I get below error when ran "sudo ./scripts/m0 rebuild".

[code]

[2020-11-23 17:40] Saumya-Sunder commented on #217
Sure @sachitanands, moved it in PR https://github.com/Seagate/cortx-s3server/pull/411

[2020-11-24 14:17] nikitadanilov commented on #211
[HLD of distributed transaction manager.pdf](https://github.com/Seagate/cortx-motr/files/5590436/HLD.of.distributed.transaction.manager.pdf)
I happen to have an original pdf downloaded from google docs. Enjoy.

[2020-11-24 14:24] nikitadanilov commented on #188
motr source code is not standard C, far from it. We depend critically on gcc extensions for one thing. Current code works fine under gcc and llvm (see darwin branch), which is good enough for us.

[2020-11-24 14:28] nikitadanilov commented on #16
Wow, this did fall between the cracks, sorry. Yes, let's move this to cortx-motr.

[2020-11-24 22:35] daniarherikurniawan commented on #214
Thanks @huanghua78 !
I can run it after "sudo su"
I run "setup_a_running_motr_system.sh" using root because it needs root access when creating /var/motr.

Sorry for the late reply, last week I had my defense. I close this PR for now.

[2020-11-24 22:35] #214 closed

[2020-11-25 10:28] nihar1313 commented on #225
@PengMacro , Build failure happened due to  "Build environment is not ready."
The dependency package installation has been failed[sudo ./scripts/install-build-deps]
Since you have  Downgrade your kernel to 3.10.0-1062.el7 version, Earlier build environment is not valid now. Please clean your build environment.remove kmod-lustre-client*, lustre-client-devel*, lustre-client-* packages.
clean your gi

[2020-11-26 02:22] huanghua78 commented on #3
These documents have not yet been converted to github, @VenkyOS ?

[2020-11-26 02:27] huanghua78 commented on #4
There is some issues in DIX repair.
Tasks to enable DIX repair is in progress.

[2020-11-26 02:29] huanghua78 commented on #8
This issue has not been reproduced for a long time.
It is now closed.

[2020-11-26 02:34] huanghua78 commented on #10
This issue is not seen any more.

[2020-11-26 02:34] #10 closed

[2020-11-26 02:35] #8 closed

[2020-11-26 02:38] huanghua78 commented on #16
I will take care of this.

[2020-11-26 02:41] huanghua78 commented on #17
@kaustubh-d , currently Motr is supporting CentOS 7.8. Can you try again?

[2020-11-26 02:44] huanghua78 commented on #21
is this issue done?

[2020-11-26 02:46] huanghua78 commented on #22
I think we need someone to check the Doxygen building in Motr.

[2020-11-26 02:50] huanghua78 commented on #23
In "cortx-motr" "main" branch: https://github.com/Seagate/cortx-motr/blob/main/doc/reading-list.md
These links have been fixed, or will be fixed soon.

[2020-11-26 02:50] #23 closed

[2020-11-26 02:54] huanghua78 commented on #225
@PengMacro please checkout git cortx-motr recursively:
[code]

Galois is needed for Cortx-motr. It is a submodule in the repo.

[2020-11-26 02:54] #225 closed

[2020-11-26 02:56] huanghua78 commented on #211
This will be fixed when we create .rst files for all these documents.
And @nikitadanilov has provided a good version of this document.

[2020-11-26 02:57] huanghua78 commented on #188
This is explained by nikita.

[2020-11-26 02:57] #188 closed

[2020-11-26 04:23] VenkyOS commented on #3
@huanghua78 - Not yet. It is in my Bucket of To Do activities. Only, FDMI is remaining.

[2020-11-26 04:32] VenkyOS commented on #21
That is what I am doing. I am converting everything to RST and then provide links.

[2020-11-26 04:32] #21 closed

[2020-11-26 08:45] PengMacro commented on #211
Thanks all!

[2020-11-26 08:45] #211 closed

[2020-11-27 10:46] VenkyOS commented on #187
@johnbent - I am working on this with the help of @huanghua78 . An initial file has been created and @huanghua78 has given me review comments, on which I am working.

Link to the file that I am working on - [Terminologies and Definitions](https://github.com/VenkyOS/cortx-motr-1/blob/Terminologies_Addition/doc/Terminologies.rst)

Relevant PR - [Terminologies](https://github.com/Seagate/cortx-motr/p

[2020-11-27 10:46] #187 closed

[2020-11-27 12:58] VenkyOS commented on #143
@johnbent - I have made the changes accordingly.

[2020-11-27 13:56] daniarherikurniawan opened #249 "ERROR [be/engine.c:312] when running example1.c with > 300 blocks"
Got this error when running example1.c with more than 300 blocks. Originally, the example1.c only read and write 2 blocks of data, but I want to test the throughput, so I need to increase the data size.
The exact code that I run is here (on my own repo):
https://github.com/daniarherikurniawan/cortx-motr-all/blob/master/motr/examples/example1.c

[code]

If I just use 2 blocks, each has 4KB, everyth

[2020-11-27 16:35] andriytk commented on #249
The error from BE suggests that the transaction is too big.

You probably are trying to put too much data units in one op on a narrow pool. As result, you have too many data units per disk in one BE transaction. Try to increase the unit size of your object. (For example, put 9 (1MB) instead of `m0_client_layout_id(instance)` at `object_create()`.)

See how [mio](https://github.com/Seagate/cortx-mo

[2020-11-29 17:25] daniarherikurniawan commented on #249
Sorry, I am not familiar with the code yet. What do you mean by `Try to increase the unit size of your object?`
Could you refer to my example1.c and point out which variable should I increase?
My goal is to read/write 1 GB of data at least. And currently, I am only able to R/W 1.6 MB, so it's still far from my target. Please help me to tune the motr config so that it can write > 1GB. Thank you in

[2020-11-30 10:04] andriytk commented on #249
Each object has a specific unit size - the size of the blocks by which its data is written among the disks. By default, it's 4K. You can change it when the object is created, by putting the correspondent layout id at `m0_obj_init()`. 9 is for 1 MB units size, 10 - for 2 MBs, 11 - for 4 MBs. You can check all the values at https://github.com/Seagate/cortx-motr/blob/main/layout/layout_pver.c#L99.

T

[2020-11-30 13:48] Saumya-Sunder commented on #217
Do I close the ticket? @sachitanands

[2020-11-30 14:17] harrison-seow-seagate commented on #217
@Saumya-Sunder , actually this issue has nothing to do with the documentation, I merely pointed out that the LDAP configuration was nowhere to be found (since I was not prompted due to script failure).

I just re-tried the whole setup but unfortunately it seems that the exact same error is still occurring.

[2020-11-30 14:25] Saumya-Sunder commented on #217
@harrison-seow-seagate just a quick question - Did you install Motr before S3?

[2020-12-01 00:19] daniarherikurniawan commented on #249
Thanks for the explanations. It does work until 7 (256KB). Higher than that, I got this error:

[code]

In this case, I have :
[code]
And I use 12 to initialize the unit size
`m0_obj_init(&obj, &container->co_realm, &obj_id, 12);`

--------------------------------------------------------

If I update the unit size to 13.
`m0_obj_init(&obj, &container->co_realm, &obj_id, 13);`

I got this error:

[

[2020-12-01 01:50] huanghua78 commented on #217
CentOS 7.7 problem.
The CentOS 7.7 is obsoleted by CentOS.org.
The packages for this version of release are now not available from centos.org or most of its mirrors.
The best way is to find a mirror which still contains the packages of the CentOS7.7,
or find a ISO file which contains all packages including the kernel-devel.

http://mirrors.oit.uci.edu/centos/7.7.1908/isos/x86_64/
http://mirrors.so

[2020-12-01 02:39] huanghua78 commented on #249
@daniarherikurniawan
To write data into an object, we have to do:
* choose a layout for an object: Layout ID. As @andriytk has explained, we can choose layout_id 9 (1MB), for example.
* choose a block_size in the program. This should match the layout if we want to achieve optimized performance.
* Usually, we can not pack too much data in a single request. In the example1.c, two blocks are packed i

[2020-12-01 02:44] huanghua78 commented on #249
The data size (block_size * block_size) in a single request exceeds the some limit.
If you have bigger block_size, please use smaller block_count for a *SINGLE request*.
If you have smaller block_size, you may have some bigger block_count for a *SINGLE request*.

As I explained in previous comment, you need to write data in multiple requests, and each request contains reasonable size of data. (Ple

[2020-12-01 03:06] johnbent commented on #249
Hey @daniarherikurniawan ,

Maybe you can try adding a loop?
——
1. Prepare a reasonable size of request.
2. Send this request.
3. Wait for this request to be completed.
4. Go back to prepare another request (with proper offset: offset should be increased by the size of the previous request).
——
Thanks to @huanghua78 for putting this in an email to me; I’m merely copying it here.  :)

[2020-12-01 03:21] harrison-seow-seagate commented on #217
Hi @Saumya-Sunder , the VM is setup based on the [LocalVMSetup](https://github.com/Seagate/cortx/blob/main/doc/LocalVMSetup.md) and everything else is just as the command posted above. So I'm not even sure if I did install Motr. Could you point me to where I can find the documentation?

@huanghua78 , thanks for the suggestion. I have just tried a few other images and realized that the error "Fail

[2020-12-01 03:38] huanghua78 commented on #19
I don't see this issue. Can you please re-check this issue? @yanqingfu

[2020-12-01 03:55] huanghua78 commented on #217
Specific Lustre version (lustre-devel) is needed. Otherwise Motr won't build.
But as I said, the CentOS7.7 is obsoleted by CentOS.org, the corresponding Lustre PRMs probably is not available.

We have a OVA image, installed with all dependencies. But as you are working on a AWS VM, you need to install all the dependencies.
We should verify the steps described in the document again.

[2020-12-01 04:15] johnbent commented on #217
Harrison,

We are in the process of switching to centos7.8. Can you try with that and see if that works?

Thanks

John

________________________________
From: Huang Hua <notifications@github.com>
Sent: Monday, November 30, 2020 8:55:52 PM
To: Seagate/cortx-motr <cortx-motr@noreply.github.com>
Cc: John Bent <john.bent@seagate.com>; Mention <mention@noreply.github.com>
Subject: Re: [Seagate/cortx-mo

[2020-12-01 04:20] Saumya-Sunder commented on #217
Tagging @VenkyOS

[2020-12-01 05:13] harrison-seow-seagate commented on #217
Hi @johnbent , the following are some of the images I have tried on AWS (and a few others).

- [CentOS 7 (x86_64) Version  2002_01](https://aws.amazon.com/marketplace/pp/B00O7WM7QW?ref=cns_srchrow)
  - This is the one I used when I posted the issue initially
- [CentOS 7 (x86_64) Version 2003_01](https://aws.amazon.com/marketplace/pp/B08KYKK42V?ref=cns_srchrow)
- [CentOS 7 (x86_64) 2019-08](https:/

[2020-12-01 07:27] huanghua78 commented on #217
This doc, "doc/Quick-Start-Guide.rst" is tested and verified by me again.
It works well.

[2020-12-01 07:41] huanghua78 commented on #217
[install-dep.txt](https://github.com/Seagate/cortx-motr/files/5620913/install-dep.txt)

I installed a CentOS 7.7.1908 from scratch, following the instructions from https://github.com/Seagate/cortx/blob/main/doc/LocalVMSetup.md

And then, followed the steps one by one in https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst
Everything works well.

But one thing to note.
As CentO

[2020-12-01 08:49] harrison-seow-seagate commented on #217
Hi @huanghua78 , I followed your steps but still had the same error.
In your log file, I saw you used `vim ./scripts/install-build-deps` but not sure what did you do?

Also which mirror did you use / how did you fix the `/etc/yum.repos.d/CentOS-Base.repo`?
And which OS did you actually use since there is no CentOS 7.7.1908 from [centos.org](https://www.centos.org/centos-linux/)? I assume it's from

[2020-12-01 09:41] huanghua78 commented on #217
I did not change the "./scripts/install-build-deps".

http://mirrors.oit.uci.edu/centos/7.7.1908/
http://mirrors.sohu.com/centos/7.7.1908/
https://vault.centos.org/7.7.1908

You can use either of them.

I myself use this one, because I can access it with higher speed:

[code]

I am using CentOS 7.7.1908.

[code]

kernel-devel (which contains kernel header files) must be installed on system. Otherw

[2020-12-02 13:14] yanqingfu commented on #19
@huanghua78 yes, the latest release don't have this issue

[2020-12-02 13:14] #19 closed

[2020-12-08 12:18] andriytk opened #270 "3+ confd cluster configuration does not work"
On SAGE prototype cluster with 3 confd instances:

[code]

[2020-12-08 13:30] huanghua78 commented on #219
This issue has not been fixed.

[2020-12-08 13:37] nezzzu commented on #219
@huanghua78 Any idea when this will be fixed? Please share with me if you have a plan. Also, is there a way to skip these failing tests and continue with the rest?

[2020-12-08 13:42] huanghua78 commented on #219
[code]

[2020-12-08 14:17] nezzzu commented on #219
`  tx_bulk-empty                                   1.04 sec   64 MiB
  tx_bulk-error_payload  motr[30583]:  6010  FATAL  [lib/assert.c:50:m0_panic]  panic: (!done) at m0_be_tx_bulk_put() (be/tx_bulk.c:603)  [git: sage-base-1.0-133-gfa45ae7] /var/motr/m0ut/m0trace.30583
Motr panic: (!done) at m0_be_tx_bulk_put() be/tx_bulk.c:603 (errno: 4) (last failed: none) [git: sage-base-1.0-133-gfa45ae7] pid:

[2020-12-08 14:35] huanghua78 commented on #219
Yes, I think so.

[2020-12-08 14:45] nezzzu commented on #219
Now:
[code]
get me this far:
[code]
Looks like there are many. Do we have a list?

[2020-12-08 15:04] huanghua78 commented on #219
I did not see this.
"be" related failure is probably caused by some recent commit.
But this one is not seen recently by me or on Jenkins.

[2020-12-08 16:35] nezzzu commented on #219
Will this be fixed as part of this issue? Or do we need to create a new issue?

[2020-12-14 00:12] johnbent opened #278 "Change name of branch please"
@jadhavik1, I see you are working on a branch called 'seq_balloc_1mb_master'.  This violates our naming rules.  If you are still working on this branch please change the name to 'seq_balloc_1mb_main'.  If the branch is no longer needed, then please either rename it or delete it.

Thanks!

[2020-12-14 16:42] andriytk commented on #270
I could not reproduce the issue on my local 7-nodes cluster (+1 cmu +1 client node). I configured 3 confd services and could run i/o with such configuration:

[code]

i/o:

[code]

CDF - [cmu-ssu7-cleint1-cdf.yaml.txt](https://github.com/Seagate/cortx-motr/files/5690253/cmu-ssu7-cleint1-cdf.yaml.txt)

Versions:
* Motr - commit fa45ae7;
* Hare - commit 571ae39.

Will try it again on the SAGE protot

[2020-12-14 16:43] andriytk commented on #270
Will close it for now.

[2020-12-14 16:43] #270 closed

[2020-12-14 17:45] andriytk opened #283 "It takes several minutes to stop the last confd during hctl shutdown"
On multi-nodes cluster (3+ server nodes) with 3+ confd-s configured `hctl shutdown` command would get stuck for several minutes when stopping the last confd process:

[code]

[2020-12-15 04:00] VenkyOS commented on #74
This is WIP as part of the document conversion from SharePoint to RST.

[2020-12-15 12:09] andriytk opened #288 "m0d-confd process got stuck killing cpu"
On SAGE cluster the only configured confd process got stuck killing CPU with 100% consumption. m0trace log is full of the following lines:

[code]

m0trace file - [sage-confd-kills-cpu-m0trace-af6819c.36917.zip](https://github.com/Seagate/cortx-motr/files/5695695/sage-confd-kills-cpu-m0trace-af6819c.36917.zip)

[2020-12-15 12:09] andriytk opened #298 "m0d-confd process starts killing cpu after some time - connections leakage"
On SAGE cluster the only configured confd process got stuck killing CPU with 100% consumption. m0trace log is full of the following lines:

[code]

m0trace file - [sage-confd-kills-cpu-m0trace-af6819c.36917.zip](https://github.com/Seagate/cortx-motr/files/5695695/sage-confd-kills-cpu-m0trace-af6819c.36917.zip)

Versions:
* Motr - commit af6819c
* Hare - commit 571ae39

The cluster configuration fi

[2020-12-15 12:53] andriytk commented on #288
There are too many different connections pointers which suggests that there might be a connections leakage.

[2020-12-15 13:25] andriytk commented on #288
Yesterday, the cluster was re-bootstrapped (to workaround the problem), but today the issue got reproduced again. Nobody used the cluster since yesterday. I have a suspicion that it could be caused by the fact that `hax` periodically updates the Motr consumption statistics on all the nodes (6 server + 16 client nodes are configured there). On each update rconfc is started and stopped, so it could

[2020-12-15 13:28] andriytk commented on #288
System log on fstats update by hax:

[code]

[2020-12-15 13:35] andriytk commented on #288
New snip:

[code]

[2020-12-15 13:42] andriytk commented on #288
There is nothing about stopping of rconfc in the system log until the next update iteration:

[code]

[2020-12-15 13:50] andriytk commented on #288
Looks like the problem is in `hax`.

[2020-12-17 12:44] knekrasov commented on #298
This is what I found in the history:
1. https://github.com/Seagate/cortx-hare/pull/1234
2. [EOS-13393](https://jts.seagate.com/browse/EOS-13393?focusedCommentId=1941917&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1941917)
3. [EOS-12405](https://jts.seagate.com/browse/EOS-12405)
4. [EOS-12598](https://jts.seagate.com/browse/EOS-12598)

[2020-12-17 13:24] andriytk commented on #298
Let's look more precisely on what happens with connections during fs-stats fetching in [hax-m0trace.14071.txt.zip](https://github.com/Seagate/cortx-hare/files/5704913/hax-m0trace.14071.txt.zip):

rconfc starts and queries hax (itself) for the entrypoint:

[code]

Got entrypoint, connects to confd:

[code]

rconfc is started.

So we've sent 4 connection establish requests to confd and only 1 connec

[2020-12-17 13:41] andriytk commented on #298
Now let's see what was happening at confd side at the same time-frame in [confd-m0trace.14465.txt.zip](https://github.com/Seagate/cortx-hare/files/5704914/confd-m0trace.14465.txt.zip):

Here we see 4 incoming connection requests from hax with one of them terminated and 1 outgoing connection request to hax:

[code]

Now we see that 3 incoming connections got terminated:

[code]

But the outgoing co

[2020-12-17 14:52] andriytk commented on #298
This is the leaked connection (from [confd-m0trace.14465.txt.zip](https://github.com/Seagate/cortx-hare/files/5704914/confd-m0trace.14465.txt.zip)):

[code]

And later we can see it in this list (compare with the description above):

[code]

The list of leaked reverse connections which grows over time.

[2020-12-17 15:30] andriytk commented on #298
After discussion with @just-now, the following was found out: looks like the reverse session/connection is established so that RM manager is able to revoke the RM-read-lock taken by each rconfc client on the configuration. (This is needed to update the configuration among all processes in the cluster, whenever it happens: RM-read-lock is revoked and rconfc in each Motr process in the cluster would

[2020-12-17 16:51] mssawant commented on #298
@andriytk, if rconfc lives along with the hax the hax shutdown fails because confd's are stopped before hax and then hax is not able to shutdown cleanly and fails with timeout.

[2020-12-17 17:12] mssawant commented on #298
@andriytk, I would suggest to create a Jira ticket for this.

[2020-12-17 19:49] andriytk commented on #298
@mssawant yes, that's what I have already learned today (thanks to @knekrasov). But it is not a solution to stop rconfc and start rconfc periodically as fs-stats is fetched. Because the shutdown may happen at any time - even during the fs-stats fetching when rconfc is started and not stopped yet. And on relatively big clusters (like at SAGE where we have 22 nodes) it takes about 1-minute only to s

[2020-12-17 19:55] mssawant commented on #298
@andriytk, yes starting/stopping rconfc was a temporary solution, we agreed upon that and this problem will be further aggravated when we use additional spiel commands. This needs to be worked upon as we move beyond LDR1. Thanks for bringing this up. I will create a separate ticket for this.

[2020-12-17 19:57] andriytk commented on #298
Looks like we have two different problems here:
1. Connection/memory leakage at confd - Motr issue (this one).
2. Periodic start/stop of rconfc in `hax` - Hare issue.

I'd better suggest to create another GitHub issue for Hare. (Jira is not publicly visible and GitHub is much more convenient.)

[2020-12-18 00:39] huanghua78 commented on #298
Hello @andriytk , @mssawant @nikitadanilov , this `RM-read-lock taken by each rconfc client on the configuration` will cause problems.
If some clients, die accidentally, without proper cleanup. So, the RM-read-lock can not be revoked. (Motr RM lock is not lease based). In this case, the confd can not get an exclusive write lock to update the configuration?
For example, node addition, pool status u

[2020-12-18 10:36] andriytk commented on #298
@huanghua78 yes, this is another scenario that must be handled properly.

[2020-12-18 20:54] mssawant opened #300 "Problem: hax starts and stops rconfc frequently"
Presently fsStatsUpdater in hare starts and stop rconfc frequently to invoke motr spiel command to fetch filesystem statistics which are updated in Consul.

Frequent rconfc start - stop is not very efficient when we need to invoke multiple spiel commands, e.g. to trigger SNS repair/rebalance.
A better way needs to be worked out to deal with this issue.

reference:
https://github.com/Seagate/cortx-

[2020-12-18 20:55] mssawant commented on #298
Created a separate issue to fix frequent rconfc start/stop in hax, https://github.com/Seagate/cortx-motr/issues/300

[2020-12-19 12:37] andriytk commented on #300
I'd say the problem is not the frequency here, but rather the periodicity: once rconfc is started - it should be running without stopping. The problem with shutting down the cluster (when stopping the hax gets stuck on rconfc stop because there are no confd processes available by the time hax stops) should be handled at Motr side: rconfc must be able to stop even without confd processes running. M

[2020-12-19 13:38] andriytk opened #302 "Pool-wise consumption statistics is needed"
Currently, the consumption statistics is reported for the whole cluster by Motr, which is useless in case of a multi-pools cluster configuration (like at SAGE):

[code]

Here is the log msg from `hax` which fetches the statistics from Motr periodically using `m0_spiel_filesystem_stats_fetch()` API:

[code]

Per-pool consumption statistics is needed.

[2020-12-19 13:41] andriytk commented on #302
cc @mssawant, @truptiatseagate, @max-seagate, @nikitadanilov, @just-now, @johnbent.

[2020-12-20 17:50] mssawant commented on #300
Idea is to avoid starting and stopping of rconfc and to have rconfc lifetime same as the motr lifetime in hax.

Can you suggest a timeout please? I would like to avoid timeout based workarounds. I am trying to move out rconfc start/stop, testing is in-pogress.

[2020-12-21 11:09] andriytk commented on #300
Currently, on LDR1 the systemd timeout for `hax` to stop is [5 seconds](https://github.com/Seagate/cortx-ha/blob/f267fd788cefad42e54a90c47724fc1ce4897a3a/conf/script/build-ha-io#L574). I think that's fair enough - there is nothing that `hax` should wait for.

[2020-12-22 17:26] johnbent opened #308 "Improve links in developer's guide"
The developer's guide (https://github.com/Seagate/cortx-motr/blob/main/doc/motr-developer-guide.md) has three main sections:
1. A simple Cortx Motr application (object)
2. A simple Cortx Motr application (index)
3. More examples, utilities, and applications

Right at the bottom of the intro (right before the first section A simple Cortx Motr application (object)), we should add:
These document con

[2020-12-23 09:44] VenkyOS commented on #308
@johnbent - I will work on this accordingly.

[2020-12-24 04:09] johnbent opened #311 "ADDB 'how to' guide"
@VenkyOS , please talk to @just-now and get any and all existing documentation about how to use ADDB.  Then attempt to use that documentation to try to use ADDB yourself.  Then please add a 'How to Use ADDB' page into this repo and please link it appropriately from existing documentation.  Thanks!

[2020-12-24 04:24] VenkyOS commented on #311
@johnbent - Sure. I will proceed accordingly.

[2020-12-28 04:45] harrison-seow-seagate commented on #217
Thanks, did not have a time to try yet but probably a very specific image is needed for the build.

[2020-12-28 04:45] #217 closed

[2020-12-31 15:06] harrison-seow-seagate commented on #217
Turns out it worked and it's because I didn't install the kernel-devel previously. However, I couldn't get it to run on AWS as it would disconnect (SSH) me when during `TASK [motr-build : build Lustre rpms] `. I started a new VM and echo the output, it seems that the script just quietly failed. The VM has 2vCPU, 8GB RAM and 30GB storage.

But since it did work locally, this issue should be closed,

[2020-12-31 16:28] huanghua78 commented on #217
This task may take quite some time (work in background, without output. It seems just like HUNG). So, please make sure
the sshd has a long timeout. Otherwise, it will disconnect you.

[2020-12-31 20:12] johnbent commented on #217
Hey @harrison-seow-seagate , I just want to say that getting CORTX working in AWS and documenting how you did it so others can reproduce would be an AMAZING contribution!  FYI @justinzw who I know will be interested in this since he also working on something similar.

[2021-01-01 09:39] harrison-seow-seagate commented on #217
@huanghua78 that's exactly the issue, thanks. I managed to proceed with this image in AWS ap-southeast-1 (ami-076898e82e2b6835a) with the following script. Let me know if this is supposed to be documented somewhere.

**Script to Reproduce**
[code]

[2021-01-06 09:27] andriytk commented on #298
The workaround has been landed into Hare - https://github.com/Seagate/cortx-hare/pull/1437.

[2021-01-14 18:43] hessio opened #331 "motr[05167]: cbd0 ERROR [dix/req.c:794:dix_idxop_meta_update_ast_cb] All items are failed"
So I am effectively following the examples here https://github.com/Seagate/cortx-motr/blob/main/motr/examples/example2.c
I am trying to create an index pretty much in the exact same way as the examples. After I call m0_entity_create and launch the operation I get the error described and my launched returns an error and fails.

It might have something to do with how I;ve configured my motr client.

[2021-01-14 20:14] hessio commented on #331
Here is a link to the original slack question: https://cortxcommunity.slack.com/archives/C019S0SGWNQ/p1610639957003400

The error message: motr[05167]:  cbd0  ERROR  [dix/req.c:794:dix_idxop_meta_update_ast_cb]  All items are failed

[2021-01-15 08:58] huanghua78 commented on #331
Please provide more details of the program: e.g. source code.

Is the example2 working properly?
If so, what is the difference between your program and the example2.c?

[2021-01-15 09:36] wednesday123 commented on #331
It's going to be difficult for me to dump all my source here. (not helpful for anyone either at this point).

It will be easier if I can get some context on what the error is specifically referring to.

Then I can figure out whether this is a problem on my end (most likely).

[2021-01-18 01:52] huanghua78 commented on #219
This is fixed by 1c49493ca9e89c572cfd2cd50ccf99f8619ebd22

[2021-01-18 01:52] #219 closed

[2021-01-18 01:53] huanghua78 commented on #16
This is fixed in 0f2a9ab1

[2021-01-18 01:53] #16 closed

[2021-01-18 01:54] huanghua78 commented on #331
More information is needed, otherwise we can not tell what is wrong.

[2021-01-18 01:58] huanghua78 commented on #249
This is explained. Developers should avoid putting too much data in a single op.

[2021-01-18 01:58] #249 closed

[2021-01-18 02:00] huanghua78 commented on #100
This issue is closed: https://jts.seagate.com/browse/EOS-8035

[2021-01-18 02:00] #100 closed

[2021-01-18 02:01] huanghua78 commented on #14
This is fixed.

[2021-01-18 02:01] #14 closed

[2021-01-18 02:03] huanghua78 commented on #4
DIX repair has been fixed in e4995a5d481a6604e3fd2a26056c8b6853f91e65

[2021-01-18 02:03] #4 closed

[2021-01-18 02:05] huanghua78 commented on #12
currently 'm0t1fs' is not supported.

[2021-01-18 02:05] #12 closed

[2021-01-18 02:06] huanghua78 commented on #7
This test is obsolete.

[2021-01-18 02:06] #7 closed

[2021-01-18 02:09] huanghua78 commented on #17
This is fixed.

[2021-01-18 02:09] #17 closed

[2021-01-18 05:56] huanghua78 commented on #76
This bug in UT has been identified to be in "libm0-ut:lockers".
It has no relation with libconsole-ut.
I will try to fix it.

[2021-01-18 06:09] huanghua78 commented on #76
[code]

[2021-01-18 06:17] huanghua78 commented on #76
[code]

[2021-01-18 08:35] huanghua78 commented on #76
https://jts.seagate.com/browse/EOS-16682

[2021-01-18 09:05] wednesday123 commented on #331
Let me clarify, I'm just asking for an explanation of the error code.

[2021-01-19 11:56] andriytk opened #343 "Client application startup is very slow"
On the SAGE cluster with 16 client nodes (each having 16 m0_client processes configured) the startup of any client application (c0cp or mcp) takes about 20-30 seconds. And the more m0_client processes are configured - the more time it takes to start up. (That's why the number of configured m0_client processes is limited to 16 atm.)

[2021-01-19 12:13] andriytk commented on #343
cc @nikitadanilov, @max-seagate, @madhavemuri

[2021-01-20 06:04] huanghua78 commented on #331
It means:
All metadata replica in DIX failed.
This might happen when some Motr services are down.

[2021-01-20 06:06] #331 closed

[2021-01-20 09:02] wednesday123 commented on #331
Great! Really appreciated thanks for the help!

[2021-01-21 14:03] madhavemuri commented on #343
@andriytk : We are looking into this issue. Can you provide the details about number of confd, ioservices and number of storage nodes as well (if possible provide CDF.yaml) ?

[2021-01-21 15:46] andriytk opened #353 "hsm: panic when reading composite object data from older extent"
When reading the composite object data which resides in two (or more) different extents - the client app panics. For example, here is the object with two extents:

[code]

1 GB (gen 1) extent is in tier2 and, the older (gen 0) 8 GB extent is in tier3.

Let's try to read 2 GB of this object:

[code]

First 1 GB of data is read fine, but when trying to read the 2nd GB of data (which is located in an

[2021-01-21 16:53] andriytk commented on #353
cc @siningwuseagate

[2021-01-21 17:22] andriytk commented on #343
Sure:

[code]

CDF - [sage-proto-cdf.yaml.txt](https://github.com/Seagate/cortx-motr/files/5850977/sage-proto-cdf.yaml.txt)

[2021-01-22 09:38] imvenkip commented on #343
JIRA ticket:
https://jts.seagate.com/browse/EOS-16837

[2021-01-22 16:30] nezzzu opened #360 "c0cat crashes when there are no extents already created by HSM tool"
[code]

[code]

[2021-01-27 08:32] #353 closed

[2021-02-04 00:39] rupasree-roy opened #403 "Compiling error with demo-fdmi/m0-instance program"
For reference:
FDMI+containers demonstration was done for Sage-1. The details and source code are available here :
https://jts.seagate.com/browse/EURND-91

demo-fdmi code has two parts: An FDMI plugin and a clovis app. Refactored the clovis-app to make it work with the opensource version. However, the FDMI plugin is giving few compiling errors which I am not sure how to take care of. Some of the c

[2021-02-04 00:54] johnbent commented on #403
Thanks @rupasree-roy for reporting this.  You provided two links.  One to the original code and one to the modified code (uploaded as a tarball).  Is the pasted compilation error coming from the original code or from the modified code in the tarball?  Also, for those of us who can't see inside Seagate, does the tarball contain everything that is at the original link?

[2021-02-04 15:18] huanghua78 commented on #76
The PR #340 has been merged.

[2021-02-04 15:18] #76 closed

[2021-02-05 06:16] rupasree-roy commented on #403
The compiling errors are from the original code. There were many other compiling errors which were mainly around change in naming convention and change in function definitions. I changed the original code to take care of those compiling errors and thus the modified code.

And yes, the tarball contains everything that is at the original link. Just that its the updated version to make it work with t

[2021-02-05 06:25] johnbent commented on #403
Thanks Rupasree for the info. Where are you maintaining this code and working on this?  I think it would make sense for you to put this code into a fork of either cortx-motr or m0-client-apps. That way, others of us can pull your fork and help look at these issues. Would that be possible for you to do please?

[2021-02-05 10:28] andriytk commented on #403
I've found the code for container functions in an old branch of Motr. Here are the functions:

[code]

Looks like they are mostly the wrappers over existing API, that's probably why they never made into the main branch. At least you can see the idea behind them.

[2021-02-05 10:32] andriytk commented on #403
Another one:

[code]

[2021-02-05 10:41] andriytk commented on #403
Instead of `m0_default_layout_id()` use `M0_DEFAULT_LAYOUT_ID` macro.

Don't worry about `m0_realm_init()`, just drop it and see how the realm is used in another examples. (For example, at https://github.com/Seagate/cortx-motr/blob/main/bindings/go/mio/mio.go.)

[2021-02-05 11:28] andriytk commented on #403
As for the `m0_conf_fs_get()`, here I updated it to the latest API (`m0_confc_root_open()`) - [m0-instance.tar.gz](https://github.com/Seagate/cortx-motr/files/5932094/m0-instance.tar.gz).

Hope you could continue from here?

[2021-02-05 16:22] andriytk commented on #343
cc @vvv

[2021-02-05 17:47] rupasree-roy commented on #403
@johnbent  I was maintaining the code in one of the lab machines in FRC. And sure I can fork cortx-motr and put the code there.

[2021-02-05 19:28] rupasree-roy commented on #403
@andriytk Thank you for sharing those info. Made changes according to what you suggested.

As far as the wrappers like 'm0_container_op' is concerned, how are we going to take care of that?

[2021-02-05 20:43] johnbent commented on #403
@andriytk might say differently but I'd suggest to just add the wrappers yourself in your FDMI plugin.

[2021-02-06 09:33] andriytk commented on #403
I'd suggest to make direct calls and get rid of the wrappers.

[2021-02-11 19:34] rupasree-roy commented on #403
Adding
@paulq11 @Lsmithy @Z2020Z

[2021-02-22 07:12] somnathbghule opened #450 "Improvements in m0crate utility (KV test run)."
There are improvement areas such as,

1. Correctness in output logs (for all log levels) of m0crate KV test run.
[code]
2. Implementation of specifying the specific KEY and VALUE sizes in kv test run, sizes can be number (int) or random.
[code]

[2021-02-22 11:12] hessio opened #464 "HA service fails in Motr singlenode sanity test"
Problem: User runs command `sudo ./scripts/m0 run-st 52motr-singlenode-sanity` and they receive an error that HA service fails

Attached is an image of the error:

![motr error](https://user-images.githubusercontent.com/23244853/108700530-a2fdf680-74fe-11eb-8726-507acade0e93.png)

[2021-02-22 13:32] #298 closed

[2021-02-26 07:57] madhavemuri commented on #450
@imvenkip : Can you check this PR and verify it ?

[2021-02-26 16:07] johnbent commented on #464
@hessio , did you get this sorted yet?  I moved it to cortx-motr.  Let me know if you think it's better located in parent.

[2021-02-26 16:10] hessio commented on #464
You can run without any issues. This is a known issue, I believe it is a Motr error. @huanghua78 can you please advise here as we discussed on Teams to make this issue.

[2021-02-26 16:14] hessio opened #465 "Motr fails in S3-Server setup"
### Problem

When working on the [S3-server QSG](https://github.com/Seagate/cortx-s3server/blob/main/docs/CORTX-S3%20Server%20Quick%20Start%20Guide.md) when I run \`./jenkins-build.sh\` in section "[Test Yout Build](https://github.com/Seagate/cortx-s3server/blob/main/docs/CORTX-S3%20Server%20Quick%20Start%20Guide.md#14-test-your-build-using-s3-cli)" This warning is shown: motr\[43901\]: dc10 WARN

[2021-02-26 17:52] suykerbuyk opened #466 "Breaking changes with the release of go version 1.16"
https://github.com/Seagate/cortx-motr/blob/3c3921704f18544a181592aaab4cd7bffbc5b202/bindings/go/mcp/mcp.go#L29

In module mode, the go command now disallows import paths that include non-ASCII characters or path elements with a leading dot character (.). Module paths with these characters were already disallowed (see Module paths and versions), so this change affects only paths within module subdi

[2021-02-28 02:09] imvenkip commented on #450
Sure @madhavemuri . Will check it.

[2021-02-28 02:16] imvenkip commented on #450
@somnathbghule  Could you add exactly used m0crate commands?

[2021-03-01 03:14] somnathbghule commented on #450
`@somnathbghule``` Could you add exactly used m0crate commands?
`

I used following command to run m0crate kv test.
cmd#
m0crate -S <kv_test .yaml file>

For example:
motr/m0crate/tests/test6.yaml template can be used in m0crate kv test run.
Note: you would require to update few fields in .yaml file like   MOTR_LOCAL_ADDR, MOTR_HA_ADDR, PROF,  PROCESS_FID etc

[2021-03-01 04:48] imvenkip commented on #450
@somnathbghule  Could you share contents of kv_test .yaml file?

[2021-03-02 07:12] madhavemuri commented on #465
@yatin-mahajan : Can you look into this issue ?

[2021-03-05 09:47] andriytk opened #474 "hsm: panic on extent release"
Initial state:

[code]

8 composite 20GB objects.

Release the extent from tier1:

[code]

[2021-03-05 09:49] andriytk opened #475 "hsm: panic on set_write_tier"
Initial state:

[code]

8 composite 20GB objects. Now set the write tier to tier2:

[code]

[2021-03-09 14:36] andriytk commented on #475
See [m0trace.25512.txt.zip](https://github.com/Seagate/cortx-motr/files/6109192/m0trace.25512.txt.zip) from the crash on datawarp-04 node.

[2021-03-09 14:41] andriytk commented on #474
See [m0trace.26558.txt.zip](https://github.com/Seagate/cortx-motr/files/6109230/m0trace.26558.txt.zip) from the crash on datawarp-04 node.

[2021-03-09 14:44] andriytk opened #482 "hsm: space is not freed on composite object removal"
It looks like the space in not freed in the pool on the composite object removal. (While the normal object removal frees the space OK.) This has to be re-checked...

Steps to reproduce:
1. Create a composite object via the hsm utility (see its help on how to do this).
2. Write some data to the object.
3. Delete the object.

Check the consumed space via `hctl status --json | jq '.filesystem'` 1) be

[2021-03-12 14:28] yanqingfu opened #492 "./scripts/install-build-deps errors"
[root@ssc-vm-1401 cortx-motr]# ./scripts/install-build-deps
Loaded plugins: enabled_repos_upload, package_upload, product-id, search-disabled-repos, subscription-manager
EOS_EPEL-7_EPEL-7                                                                                                    | 2.5 kB  00:00:00
EOS_Puppet6_puppet6-el7

[2021-03-12 14:46] yanqingfu commented on #14
double-checked. it passed

[2021-03-16 13:26] hessio commented on #492
Hi @yanqingfu - I am currently working on reproducing this issue. I will update you once I have my system setup. It looks as though you have the correct system settings.

[2021-03-16 15:39] hessio commented on #492
Hi @yanqingfu - I have setup Motr following the guide and unfortunately (or fortunately depending on how you look at it) wasn't able to recreate your error. Would you like to get on a call to go through the setup? My email: [patrick.hession@seagate.com](mailto:patrick.hession@seagate.com) if you would like to do this.

[2021-03-17 03:49] yanqingfu commented on #492
Hi @hessio I followed exactly as in https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst. I think my VM got messed up somehow. I have no problems when I use a new VM.

[2021-03-17 03:49] #492 closed

[2021-03-17 09:00] andriytk opened #502 "Build with castxml fails on CentOS-8"
gccxml is replaced by castxml on CentOS-8.3, but the build fails with it on `motr/client.h`:

[code]

[2021-03-17 09:11] andriytk commented on #502
cc @chumakd

[2021-03-17 12:29] yanqingfu commented on #464
encountered the same issue

[2021-03-17 19:36] chumakd commented on #502
I would try verbose build `make V=1` on CentOS7 and checked the GCCXML command for `client.h`. Then I would run verbose build on CentOS8 and checked the output XML file there and compared the contents with the same xml file from CentOS7 build.￼

[2021-03-18 10:40] hessio commented on #492
Hi @yanqingfu oh this is great news. Glad you got it working!

[2021-03-18 13:10] andriytk commented on #502
On CentOS-8:

[code]

On CentOS-7:

[code]

[2021-03-18 13:21] siningwuseagate commented on #474
@andriytk I checked the trace file you gave above:

(1) Start from line 549062, there are many `-110 (-ETIMEDOUT)` errors occurred. Because of the timeout error, the `mio_op_wait()` at `m0hsm_api.c::delete_obj_set_parent_layout()::line 480` returns `-ETIMEDOUT`. And the state of this `op` has not yet reached STABLE or FAILED (as the op has received reply yet.). And the following `m0_op_fini()` ass

[2021-03-18 23:29] andriytk commented on #502
For some reason, castxml generates the full path for client.h in client.gccml file:

[code]

So when I run manually `m0gccxml2xcode` like this:

[code]

It works - there is no error.

Now, the question is - why castxml generates the full path for client.h instead of the relative one, as it does for the other files...

[2021-03-20 14:51] yanqingfu opened #524 "motr system test 24motr-dix-repair get_during,: command not found"
----------- Start to exec get_during, -------------
/var/cortx/cortx-motr/dix/cm/st/dix_repair_st.sh: line 513: get_during,: command not found
------------ Completed get_during, -----------------
Failed: get_during,
/var/cortx/cortx-motr/dix/cm/st/dix_repair_st.sh: line 602: echo test cases failed: command not found
=== pids of services: 62052 62045 62039 62035 61921 61803 60997 ===
Shutting down

[2021-03-20 14:51] yanqingfu opened #525 "motr system test 24stob-domain-recreate-on-corruption confd/addb-stobs: No such file or directory"
[root@ssc-vm-2736 cortx-motr]# ./scripts/m0 run-st 24stob-domain-recreate-on-corruption
----- run_st 24stob-domain-recreate-on-corruption -----
<< 24stob-domain-recreate-on-corruption >>
Prepare
mkfs
/var/cortx/cortx-motr/utils/mkfs/m0mkfs -D /var/motr/root/sandbox.st-24stob-domain-recreate-on-corruption/confd/db -T AD -S /var/motr/root/sandbox.st-24stob-domain-recreate-on-corruption/confd/stobs -

[2021-03-22 14:59] justinzw commented on #525
Thanks @yanqingfu for reporting this. Just to clarify - are you running this on a pre-built VM and is it 1.0.2?

[2021-03-22 15:00] justinzw commented on #524
Thanks @yanqingfu just to check.

You are running this command `/var/cortx/cortx-motr/dix/cm/st/dix_repair_st.sh` on a pre-built CORTX VM right?

[2021-03-22 15:22] yanqingfu commented on #524
@justinzw, nope, I build motr from  source, just as https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst

[2021-03-22 15:22] yanqingfu commented on #525
@justinzw, nope, I build motr from  source, just as https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst

[2021-03-22 15:43] hessio commented on #524
Hi @yanqingfu where did you get this script? What is the purpose of this script? I am just trying to get a better understanding of this issue.

[2021-03-22 15:43] hessio commented on #524
Hi @yanqingfu where did you get this script? What is the purpose of this script? I am just trying to get a better understanding of this issue.

[2021-03-22 15:48] yanqingfu commented on #524
@hessio, if you run `./scripts/m0 run-st -l` you will get the following system test list. Instead of running '`./scripts/m0 run-st', I just run one by one to see what is going on for each system test.

[2021-03-22 16:09] hessio commented on #524
Oh I see this makes sense. Can you send me this log file: `/var/motr/root/sandbox.st-24motr-dix-repair/motr_2021-03-20_08:41:49.log` ?

[2021-03-22 16:34] yanqingfu commented on #524
@hessio I think I found the root cause in https://github.com/Seagate/cortx-motr/blob/main/dix/cm/st/dix_repair_st.sh
`if [ ${#tests_list[@]} -eq 0 ]; then
	declare -a tests_list=(
				lookup
				insert
				get_during,
				drop_during,
				put_during,
				del_repair,
				del_rebalance
			)
fi

echo "We are going to test: ${tests_list[@]}"`

we should remove the ',' of

get_during,
drop_during,
put_

[2021-03-22 17:17] hessio commented on #524
I am sure it says in that file you attached to check that log file I asked for. So I am not too sure. We will keep looking at the code for now.

[2021-03-23 00:24] yanqingfu commented on #524
@hessio, yeah, it said to check that log file. I also use` find -name` to search that file but shows nothing, which means we don't save it and might be a bug.

[2021-03-23 00:49] yanqingfu opened #530 "motr system test 24motr-dix-repair test log file not found in the indicated folder"
![image](https://user-images.githubusercontent.com/68423216/112076128-c7f49080-8bb4-11eb-99b6-514897bf2410.png)

[2021-03-23 00:53] yanqingfu opened #531 "motr system test 24motr-dix-repair drop_during failed"
![image](https://user-images.githubusercontent.com/68423216/112076307-2ae62780-8bb5-11eb-84c1-567b38aa738e.png)

https://github.com/Seagate/cortx-motr/issues/524

https://github.com/Seagate/cortx-motr/issues/530

[2021-03-23 01:00] yanqingfu commented on #524
root cause was found /var/cortx/cortx-motr/dix/cm/st/dix_repair_st.sh: line 513: get_during,: command not found.
close this and open other issues:  https://github.com/Seagate/cortx-motr/issues/530; https://github.com/Seagate/cortx-motr/issues/531

[2021-03-23 01:00] #524 closed

[2021-03-23 04:17] huanghua78 commented on #524
Please note, only the first two sub test cases are enabled. Please refer to:

[code]

Other sub test cases may fail at this moment. This is known issue.

[2021-03-23 06:42] yanqingfu commented on #524
@huanghua78 didn't see your quote in here: https://github.com/Seagate/cortx-motr/blob/dev/.xperior/testds/motr-single_tests.yaml

[2021-03-25 07:17] TechWriter-Mayur opened #542 "init script failure at [motr-build : build Lustre rpms]"
I followed the [S3 Server QSG](https://github.com/Seagate/cortx-s3server/blob/main/docs/CORTX-S3%20Server%20Quick%20Start%20Guide.md) and I observed that it is failing to build Lustre rpm in the Motr init script. Please find the attached log.
[rpmerror1.txt](https://github.com/Seagate/cortx-s3server/files/6202636/rpmerror1.txt)

[2021-03-25 15:15] huanghua78 commented on #531
Now, this test case is disabled. It is not ready.

[2021-03-25 15:15] #531 closed

[2021-03-25 15:20] huanghua78 commented on #530
Because error messages have already shown on console. They are not re-directed to the log file.

Some of the error messages are directly shown to stdout/stderr. Some are also saved to log file.
In this case, no error messages are re-directed to log file.

We can remove this line:
[code]
Or enhance the test script to re-direct some of the error messages also to this log file.

[2021-03-25 15:23] huanghua78 commented on #530
For example, the following patch can re-direct messages to log files, too.
[code]

[2021-03-25 15:30] huanghua78 commented on #403
Please note, this fdmi-demo is somewhat copied from "dix/utils/m0dixinit.c".
Please refer to "dix/utils/m0dixinit.c " and change the fdmi-demo accordingly.

[2021-03-26 06:20] mukul-seagate11 commented on #542
@team, please address the issue reported

[2021-03-26 07:33] madhavemuri commented on #542
TASK [base-os : install kernel-devel for the current kernel] *************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "No package matching 'kernel-devel-3.10.0-1062.el7.x8                                                          6_64' found available, installed or updated", "rc": 126, "results": ["No package matching 'kernel-devel-3.10.0

[2021-03-26 08:41] huanghua78 commented on #542
I think you are running CentOS 7.7, and this version of CentOS is obsoleted.
Please install "kernel-devel-3.10.0-1062.el7.x86_64" manually from https://vault.centos.org/7.7.1908/os/x86_64/Packages/

[2021-03-26 08:45] huanghua78 commented on #542
CentOS 7.8 is also obsoleted.
You have to go to "https://vault.centos.org/7.8.2003/os/x86_64/Packages/" and install this rpm manually.

[2021-03-26 14:30] TechWriter-Mayur commented on #542
Thank you for your response. I checked and verified and that I was having the same Kernel version. So, I had uninstall the Kernel-devel and reinstall the specific version manually and it worked.

Thanks again for all your help.
![s3](https://user-images.githubusercontent.com/64980335/112646857-eb963000-8e6d-11eb-94e2-50f8730c324c.PNG)

[2021-03-26 23:14] johnbent commented on #525
@justinzw , can you please try to reproduce this and let @huanghua78  and @mukundkanekar know if you are able to successfully reproduce this and cannot yourself debug it?

[2021-03-26 23:15] johnbent commented on #542
Thanks all.  Closing this issue.

[2021-03-26 23:15] #542 closed

[2021-03-27 14:55] pasis opened #545 "Clang static analyzer report"
Hello, I've run Motr through clang analyzer and attached the report in case you're interested in looking over the list. Majority of the "bugs" are false positive, however, some highlights may be interesting.

Feel free to close this ticket.

[scan-build-2021-03-27-182904-19485-1.zip](https://github.com/Seagate/cortx-motr/files/6215855/scan-build-2021-03-27-182904-19485-1.zip)

[2021-03-29 15:58] johnbent commented on #545
@huanghua78 and @nikitadanilov , should we assign someone to look into this clang report?  @pasis , thanks!

[2021-03-30 10:34] christina-00 opened #549 "Unit Tests & Kernel Space unit test are failing with permission denied"
-bash-4.2$ **sudo ./scripts/m0 run-ut**
[sudo] password for 401175:
----- run_ut -----
/usr/bin/ld: cannot open output file /home/401175/cortx-motr/ut/.libs/2360-lt-m0ut: Permission denied
collect2: error: ld returned 1 exit statusn-bash-4.2$
-bash-4.2$ **sudo ./scripts/m0 run-ut -l**
----- run_ut -l -----
/usr/bin/ld: cannot open output file /home/401175/cortx-motr/ut/.libs/2440-lt-m0ut: Permissi

[2021-03-31 10:37] hessio commented on #549
Hi @christina-00 can you please share with me some more details about your system? Where did you get access to this system? Is this your own VM client on your own machine?

[2021-04-01 02:16] christina-00 commented on #549
I did the testing by ssh into the Cloud VM in Seagate.

Below are the details of the VM.
RedHat 7.7   x86_64
FQDN:         ssc-vm-1113.colo.seagate.com   (10.230.241.35)
Processor:    Intel Xeon Processor (Skylake)
Kernel:       Linux
Memory Size:  7.64 GiB

[2021-04-01 09:57] hessio commented on #549
Hi @christina-00 I am working on reproducing this issue for you now, if you want to keep moving on with Motr you can run: `su - root` this way you will be the root user and you should be able to continue without any issues while I am reproducing this issue, that way you won't be waiting for me. If this is something you would like to do.

[2021-04-02 10:41] christina-00 commented on #549
Hi @hessio I don't have su access to this VM. I think i can wait. Hopefully this is reproduceable as this VM provided out of the box from Seagate Cloud services. Thanks for looking into this.

[2021-04-02 10:56] hessio commented on #549
No problem I have requested access for one of these instances. I have requested access to one of these instances.

[2021-04-02 18:07] johnbent commented on #545
@huanghua78 and @mukundkanekar can you either assign this to someone or close this if it isn't useful?  Thanks @pasis .

[2021-04-07 04:57] huanghua78 commented on #549
Please make sure you have proper permission on these directories.

[2021-04-09 19:50] andriytk opened #572 "Poor SNS-repair performance due to flaw in the permutation algorithm"
From Nachiket:

https://github.com/Seagate/cortx-motr/blob/05b719b85d806fa97e83adec4f3fea1245ab17e3/fd/fd.c#L919

See also https://jts.seagate.com/browse/MERO-2668

[2021-04-10 17:23] johnbent commented on #572
This entire file (fd/df.c) looks like very complex code (where functions return the address of pointers and stuff like that for example) with almost zero documentation.  Except for one very nice comment from Nachiket.  @andriytk and @nikitadanilov and @huanghua78 .  I can't find Nachiket's github ID.

[2021-04-12 16:35] hessio commented on #549
When using Seagate internal cloud VMs your user space is mounted with NFS which squashes the root permissions so you can no longer write to this user space. This was the cause of this issue, to resolve this issue you need to `su - root` and clone Motr to here and work on the rest of the commands from this directory.

[2021-04-12 16:35] #549 closed

[2021-04-15 15:53] hessio opened #584 "sudo ./scripts/install-build-deps completes with failures=1"
When I try to build Motr on a single VM using CentOS 7.8.2003 when I run: `sudo ./scripts/install-build-deps` it completes but with failed=1 and then when I try to run `scripts/m0 rebuild` or `scripts/m0 make` this does not work which I presume is expected when the build deps command fails.

[2021-04-19 09:58] #502 closed

[2021-04-19 12:09] mukul-seagate11 commented on #584
@huanghua78 @madhavemuri, please address the query as raised?

[2021-04-19 12:57] huanghua78 commented on #584
Please attach detailed error messages here.

[2021-04-19 13:15] hessio commented on #584
`Here is the error which causes the failure for the`

Here is the error when I run the command `sudo ./scripts/install-build-deps` that causes the failure:

[code]

[2021-04-19 14:22] huanghua78 commented on #584
"/usr/src/kernels/3.10.0-1127.el7.x86_64 could not be found."
 "configure: error: Kernel source /usr/src/kernels/3.10.0-1127.el7.x86_64 could not be found.",

Please install kernel source.

[2021-04-19 14:32] hessio commented on #584
I tried this but they are already installed

[2021-04-19 14:54] johnbent commented on #584
@hessio , can you please paste the output of 'ls -l /usr/src/kernels/3.10.0-1127.el7.x86\_64'?

[2021-04-19 15:04] hessio commented on #584
[code]

[2021-04-19 15:10] hessio commented on #584
Ya so it is not there you are right, but when I tried this that I found on google 

[code]

[2021-04-19 15:17] johnbent commented on #584
Looks like this thread might be what you need to figure this out:

[https://unix.stackexchange.com/questions/215694/empty-kernel-directory-but-kernel-headers-are-installed/215697](https://unix.stackexchange.com/questions/215694/empty-kernel-directory-but-kernel-headers-are-installed/215697)

Can you please look in there and try those suggestions and see if you can make more progress here?  Maybe t

[2021-04-19 15:37] huanghua78 commented on #584
Please try to install required packages from
https://vault.centos.org/

[2021-04-21 13:34] hessio opened #597 "sudo ./scripts/m0 run-ut fails"
Here is the output of the command:

`[root@cortxtest cortx-motr]#  sudo ./scripts/m0 run-ut`
`----- run_ut -----`
`insmod: ERROR: could not insert module /root/cortx-motr/m0tr.ko: Network is down`
`Error loading /root/cortx-motr/m0tr.ko node_uuid=abcdef01-2345-6789-0123-456789ABCDEF Aborting.`
`Error unloading /root/cortx-motr/m0tr.ko.`

[2021-04-21 14:22] #597 closed

[2021-04-21 23:27] andriytk commented on #572
@johnbent here is the design doc of failure domains - https://seagatetechnology.sharepoint.com/:w:/s/gteamdrv1/tdrive1224/EYXh5mOopIlPlD9hGyQ2ZBoBN3Q5KJnWW7R2Km7WQZpMVg. Please check with our tech writers if it can be converted to pdf and published here on github.

[2021-04-22 01:42] johnbent commented on #572
Thanks @andriytk .  This looks awesome.  @Saumya-Sunder , please convert to markdown and link it somewhere in motr.  Andriy, did you also see my confluence page about failure domains: [https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/27164675/CORTX+Hierarchical+Failure+Domains.](https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/27164675/CORTX+Hierarchical+Failure+Domains.)  It

[2021-04-22 02:29] johnbent opened #609 "Bucket Listing Can Silently Fail"
Thanks to @RodDaSilvaWCO for finding a reporting a bug where buckets can incorrectly appear empty.  The team is hard at work creating a more permanent fix (which only affects the released Virtual Machine by the way and not Lyve Rack).  In the meantime, here is a workaround:

1) Edit file /opt/seagate/cortx/s3/conf/s3config.yaml by changing the option S3\_MOTR\_MAX\_IDX\_FETCH\_COUNT value to 10 fr

[2021-04-22 18:13] Saumya-Sunder commented on #572
Just a quick question @andriytk, I see several greyed out instances of the text [equation]. Do I mention as is or was it meant to be a placeholder for the actual equation?

[2021-04-23 10:56] andriytk commented on #572
@Saumya-Sunder give it some time, it will render into the actual equations. Microsoft...

[2021-04-23 11:34] Saumya-Sunder commented on #572
Sure @andriytk , just let me know once you are done.

[2021-04-23 13:09] andriytk commented on #572
@Saumya-Sunder I don't work on the doc. I meant to give it some time until the page is loaded in your browser and the equations are rendered so you can see them.

[2021-04-23 13:12] Saumya-Sunder commented on #572
Oh yeah, saw them rendered now. Thanks @andriytk .

[2021-04-25 07:55] huanghua78 commented on #584
@hessio please confirm this issue is still requiring fixes or it is solved?

[2021-04-27 13:20] mukul-seagate11 commented on #609
@yeshpal-jain-seagate, please address the issue reported

[2021-05-03 09:08] kiwionly2 opened #620 "Unit test fail cause by file not found."
Hi all,

I am manually build cortx-motr on Seagate Self Service cloud. ( CentOS 7.8 )

So far the build is ok, some how when I run unit test
[code]

It had fail with following error

[code]

![image](https://user-images.githubusercontent.com/77140436/116859071-fa70bf00-ac31-11eb-8313-b75b326e3f5a.png)

I had check the listed directory and that is no such file **11198-lt-m**

Any idea ?

[2021-05-03 10:21] kiwionly2 opened #622 "Warning when build Cortx-motr"
Hi, I am getting lot of warning message when building Cortx-motr.

[code]
This is just few warning show in code above ( it actually had tons of warning when building motr ).

Is the warning critical when building motr ?

Cause seem like the library could be build successfully.

[2021-05-03 11:27] imvenkip commented on #622
No.

[2021-05-03 12:07] kiwionly2 commented on #622
noted.

[2021-05-03 12:07] #622 closed

[2021-05-03 12:44] kiwionly2 commented on #466
Hi @suykerbuyk

What I did to make it run on Go 1.16 ( I get the 1.16.3 install from google site instead from yum ) is as below:
[code]
This initialize module **motr**.

Modify **mcp.go** to import as _module/folder_ ( is a folder structure anyway).

[code]
Then go to shell
[code]
It will installed on **$GOPATH/bin** directory , in my case is **~/go/bin** , where I installed Go.

Just not sure If

[2021-05-04 07:15] yanqingfu commented on #620
https://github.com/Seagate/cortx-motr/issues/549

[2021-05-04 08:29] andriytk commented on #466
If it's backward compatible (i.e. if it works with go-1.15 also) - yes, we should fix this. Please create a PR. Thanks!

[2021-05-04 08:42] kiwionly2 commented on #620
close because of duplicate issue #549

[2021-05-04 08:42] #620 closed

[2021-05-04 09:09] kiwionly2 commented on #466
For Go 1.16, we could turn off build with module, so code can compile with no change still.

However, after Go 1.17 will only support module, see [here](https://blog.golang.org/go116-module-changes).

Should we change the code to cope with latest Go version?

[2021-05-04 10:05] hessio commented on #584
This issue can be solved by downloading the kernel version from this site [https://vault.centos.org/7.8.2003/os/x86_64/Packages/](https://vault.centos.org/7.8.2003/os/x86_64/Packages/) where 7.8.2003 can be changed to the CentOS version you are running. I have created a PR #628 with this information in the guide.

[2021-05-04 20:07] andriytk commented on #466
Yes please! Thanks.

[2021-05-05 12:31] kiwionly2 commented on #466
PR created as #635.

[2021-05-05 12:51] kiwionly2 opened #636 "lctl list_nids not show ip address when setup"
Hi all,

I am setup motr using seagate self service cloud.

While try to setup lnet, it seem like nothing show (it should show an IP address ) even I had follow documentation for troubleshoot.

![image](https://user-images.githubusercontent.com/77140436/117143600-97268e80-ade3-11eb-9c76-90b03a52df93.png)

any idea ?

[2021-05-05 14:18] hessio commented on #636
Hi @kiwionly2 can you run `ip a` and show the output of this, you need to use an iface name from this list.

[2021-05-05 14:31] hessio commented on #636
Hi @kiwionly2 - I logged into the system and fixed this issue for you. Here is the output of the `history` so you can see the commands I executed.

 `132 lctl list_nids`
 `133  cat /etc/modprobe.d/lnet.conf`
 `134  vi /etc/modprobe.d/lnet.conf`
 `135  sudo systemctl restart lnet`
 `136  sudo lctl list_nids`
 `137  modprobe lnet`
 `138  sudo lctl list_nids`
 `139  vi /etc/modprobe.d/lnet.conf`
 `14

[2021-05-06 04:43] kiwionly2 commented on #636
Thanks @hessio, yes, it work now.

[2021-05-06 04:43] #636 closed

[2021-05-06 08:58] kiwionly2 opened #639 "Reset state when unit test fail"
Hi, I am running various unit test for motr in Seagate self service cloud.

When the test fail and I want to rerun, it show error below :

![image](https://user-images.githubusercontent.com/77140436/117270720-166f9d00-ae8c-11eb-81f7-32df6cb0510c.png)

Is any way to reset the state for retest ?

[2021-05-06 09:50] hessio commented on #639
Hi @kiwionly2 what do you mean by reset state? State of the VM?

[2021-05-06 13:34] yanqingfu commented on #639
https://github.com/Seagate/cortx/blob/main/doc/Build-Installation-FAQ.md refer Qs3

[2021-05-06 15:36] kiwionly2 commented on #639
@hessio  Just to reset everything related to test so the test could rerun again.

I had follow the Qs3 but seem like no luck, I reboot the system and now it running fine.

[2021-05-07 02:56] #639 closed

[2021-05-07 03:45] kiwionly2 opened #641 "System test fail on 07mount"
Hi,

I am running system test after build success. However, it fail when running test case 07mount.  I try to reboot couple of time and run it but seem like no luck.

Is that any prerequisite for the test ? I am running in Seagate self service cloud.

![image](https://user-images.githubusercontent.com/77140436/117394392-a9f6ab80-af28-11eb-9aa4-c948b1546524.png)

*I need reboot to run test again du

[2021-05-07 15:38] johnbent commented on #584
Fixed in #628

[2021-05-07 15:38] #584 closed

[2021-05-07 15:38] andriytk opened #644 "SNS-repair system tests fail on arbitrary object sizes"
Change the object sizes in the tests to some prime values, like this:

[code]

(Note: the patch is available at https://github.com/Seagate/cortx-motr/pull/646.)

And try to run the tests:

[code]

m0t1fs:

[code]

The problem reproduces 100% on the latest main branch as well as on the cortx-1.0 branch.

[2021-05-10 09:10] huanghua78 commented on #644
A jira is created to track this issue.
https://jts.seagate.com/browse/EOS-20531

[2021-05-10 14:03] andriytk commented on #644
When `-b ${N}` is specified, there is no more than one single unit per cob in the I/O operation. I.e., units destined to the same cob are not aggregated. But it's not clear how it can affect SNS...

[2021-05-10 14:50] huanghua78 commented on #466
https://github.com/Seagate/cortx-motr/pull/635 is merged.
Please verify and close this issue.

[2021-05-10 22:53] andriytk commented on #644
With the following patch to m0t1fs scripts the same file fails to be read - `10001:10001`:

[code]

Here is the patch which makes m0t1fs test behave similar to user-space test with `m0cp` (different units, 100 blocks per I/O):

[code]

[2021-05-12 10:42] hessio opened #654 "./init.sh fails"
Here is the error output from `./init.sh` command:

[code]

[2021-05-13 06:51] huanghua78 commented on #654
Where did you get this "./init.sh", @hessio ?
Please explain this with more details:
What are you doing?
Which version?
 what component?

[code]

Apparently, the kernel source is not installed. Please install it.

[2021-05-13 12:55] hessio commented on #654
"./init.sh" is a command in the s3-server guide which is installs Motr but you are required in the s3-server guide to use CentOS 7.8.2003 so this is why this error happens, I realize now.

[2021-05-15 15:24] yanqingfu opened #658 "./scripts/m0 run-st 03console error"
[root@ssc-vm-2736 cortx-motr]#  ./scripts/m0 run-st 03console
----- run_st 03console -----
<< 03console >>
Running m0mkfs... OK
Service started
Console test fop, xcode input: connecting from 0@lo:12345:34:* to 0@lo:12345:34:1
connected
Console Address = 0@lo:12345:34:*
Server Address = 0@lo:12345:34:1
Sending FOP: 09 Console Test

        m0_cons_fop_test
                cons_test_type(u8) = A

[2021-05-16 08:24] yanqingfu commented on #525
new release seems ok

[root@ssc-vm-2736 cortx-motr]#  ./scripts/m0 run-st 24stob-domain-recreate-on-corruption
----- run_st 24stob-domain-recreate-on-corruption -----
<< 24stob-domain-recreate-on-corruption >>
Prepare
mkfs
/var/cortx/cortx-motr/utils/mkfs/m0mkfs -D /var/motr/root/sandbox.st-24stob-domain-recreate-on-corruption/confd/db -T AD -S /var/mot           r/root/sandbox.st-24stob-domain-re

[2021-05-16 08:24] #525 closed

[2021-05-17 07:58] #466 closed

[2021-05-17 09:35] andriytk opened #661 "m0composite shows confusing errors from dix_idxop_meta_update_ast_cb"
When `m0composite` runs the 1st time after the cluster is bootstrapped - there are no errors. But on the 2nd and subsequent runs it shows the errors:

[code]

Although, the command returns success status, the errors shown above are confusing.

Note: `m0composite` command must be run one time only after cluster bootstrap by design. But the next runs should return some user-friendly error msg explai

[2021-05-17 09:47] nezzzu commented on #661
@huanghua78 Is it possible to assign this issue to someone?

[2021-05-22 09:30] yanqingfu opened #682 "go env GOBIN returns empty"
[root@ssc-vm-2736 cortx-motr]# cd bindings
[root@ssc-vm-2736 bindings]# cd go
[root@ssc-vm-2736 go]# ls
go.mod  mcp  mio  README.md
[root@ssc-vm-2736 go]# cd mcp
[root@ssc-vm-2736 mcp]# ls
mcp.go
[root@ssc-vm-2736 mcp]# go build
[root@ssc-vm-2736 mcp]# go install
[root@ssc-vm-2736 mcp]# go env GOBIN

[root@ssc-vm-2736 mcp]#

[2021-05-24 14:05] hessio commented on #682
I got the same result (an empty line) and I was still able to use the `go build` to build my code, what issue does this cause for you?

I tried to fix the GOBIN returning an empty line doing the following:

[code]

[2021-05-24 14:11] yanqingfu commented on #682
@hessio that helps. thanks. in this guide https://github.com/Seagate/cortx-motr/blob/main/bindings/go/README.md. it indicated that **The binary will be installed to your GOBIN directory (check with go env GOBIN).** so I am sure it working probably or not.

[2021-05-24 18:00] hessio commented on #682
Yes, I am not sure it works without it so I think it is fine. I think this allows you to just set you path to wherever you would like..not sure though.

[2021-05-26 10:40] siningwuseagate opened #697 "m0_client_init() hangs during Maestro IO library tests."
Test platform: SAGE cluster at Juelich Supercomputer Centre
Test application: tests of Maestro IO library (`tests/mio_run_tests`): https://github.com/Seagate/cortx-mio

During the tests, a hang is observed with the following stack.
[code]

lnet packet drops were observed during the test.

After analysing the application and `hax`'s trace files, possible cause of the hang is:
(1) `m0_conf_objs_ha_u

[2021-05-28 15:28] #682 closed

[2021-05-31 14:00] hessio commented on #658
Hi @yanqingfu what is the error you are seeing here? Sorry I do not understand.

[2021-06-05 00:10] johnbent opened #735 "Please add youtube badge"
@Saumya-Sunder can you do the needful please?

[2021-06-07 04:07] huanghua78 opened #738 "panic() in 52singlenode-sanity"
While doing testing for https://github.com/Seagate/cortx-motr/pull/671,
there is such a panic found: http://eos-jenkins.colo.seagate.com/job/Cortx-PR-Build/job/Motr/489/testReport/junit/01motr-single-node/52singlenode-sanity/

This is not caused by #671. It has been in "main".

Similar issue:
https://jts.seagate.com/browse/EOS-19130

[2021-06-08 10:56] andriytk commented on #697
I think HA messaging is based on rpc which do have re-transmissions. @max-seagate any idea?

[2021-06-08 11:41] Saumya-Sunder commented on #735
[Done here](https://github.com/Seagate/cortx-motr/pull/742) @johnbent

[2021-06-08 13:56] Saumya-Sunder opened #744 "Need info for QS Guide"
Hi,
I find the below information missing from the Quickstart Guide, which is vital for any contributor to get the cortx-motr component up and running. Please provide us the same to make the documentation more accurate, user-friendly, and complete.

1) Missing the standard configuration information including RAM, Processor, Storage, NICs, etc.
2) Prerequisites to install required components includi

[2021-06-16 06:51] kiwionly2 opened #762 "Fail to build bindings/go for go 1.11 above"
When I try to build with go version 1.15.5 was fail and found out that **import** for [/cortx-motr/bindings/go/mkv/mkv.go](https://github.com/Seagate/cortx-motr/blob/main/bindings/go/mkv/mkv.go) should be

`motr/mio`

instead of

`../mio`

which `motr` refer from file [/cortx-motr/bindings/go/go.mod](https://github.com/Seagate/cortx-motr/blob/main/bindings/go/go.mod)

This is because of go 1.11 an

[2021-06-16 07:12] kiwionly2 opened #763 "Any suggestion API documentation to refer for cortx-motr"
I am running go bindings for cortx-motr and try to figure out what the code is doing and what the error is all about.

[code]

Any documentation I could refer to ? @andriytk

[2021-06-16 07:31] andriytk commented on #762
Thanks for noticing it. See https://github.com/Seagate/cortx-motr/pull/764.

[2021-06-16 07:32] #762 closed

[2021-06-16 07:35] andriytk commented on #763
These are Motr errors. You can see a hint of what's going on here:
[code]
"is m0tr.ko loaded?"

[2021-06-16 07:39] kiwionly2 commented on #763
I still try to understand how the thing work overall, is cortx-motr required to run on network?  or could PUT/GET on local drive ?

[2021-06-16 09:10] andriytk commented on #763
Yes. Even if you run it locally, you might have the local Motr server (single-node cluster) running in order to use KV-index store. Same as with objects, but instead of the object you have an index to which you can put/get key-values.

[2021-06-16 09:42] kiwionly2 commented on #763
ok thx !

[2021-06-16 09:42] #763 closed

[2021-06-17 09:59] hessio commented on #744
Hi @Saumya-Sunder great questions this is great to want to be more helpful to the community. I love this!

To answer your questions:

1. To run Motr you can use 1GB of RAM, 1vCPU, 20GB storage, 1 NIC (this can be bridged or NAT). All I use to complete Mort setup in a VM is the default settings which is really the bare minimum, Motr seems to be very lightweight.
2. I think it makes sense to assume

[2021-06-17 16:53] andriytk opened #769 "m0d-ios panic: (stob->so_state != CSS_DELETE) at m0_storage_dev_stob_create()"
At the SAGE prototype cluster:

[code]

The application was trying to delete the object and then write to it again immediately.

Should we really panic on this cause?

[2021-06-17 16:57] andriytk commented on #769
[code]

[2021-06-17 17:06] andriytk commented on #769
[m0trace.48993.txt.zip](https://github.com/Seagate/cortx-motr/files/6671946/m0trace.48993.txt.zip)

[2021-06-20 13:08] mengwanguc opened #775 "Prerequisites for running "make doc""
Hello,

I was trying out the [Quick Start Guide](https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst) on a CentOS 7.8.2003 machine.
(And thanks for the great work!)

When I ran "make doc", I got the following errors:
[code]

It's resolved after I install latex by running:
`sudo yum install texlive-pdftex texlive-latex-bin texlive-texconfig* texlive-latex* texlive-metafont* te

[2021-06-23 11:37] hessio commented on #744
@Saumya-Sunder should I close this?

[2021-06-23 16:33] Saumya-Sunder commented on #744
Just one more doubt: Step 2 where it says to check for lnet configuration, what exactly do we check? Like I need a screenshot of what is going to be displayed there once the contributors go in and use the vi command.

[2021-06-24 07:22] kiwionly2 commented on #744
@hessio

I think is good to specific the hardware requirement in the doc.

 I am able to build motr but failed some unit test, and I was not sure is the issues related to my VM setup.

[2021-06-24 09:10] hessio commented on #744
OK no worries @kiwionly2, I will get you a screenshot of the VM configurations I use when I setup Motr, and we can decide what needs to be entered into the guide.

@Saumya-Sunder I will also get you a screenshot of this output but it is in the guide already, and I guess it is just not clear enough that this is the output. If you see bullet point number 4 here: [https://github.com/Seagate/cortx-mot

[2021-06-24 13:38] kiwionly2 opened #791 "Unit test fail : insmod: ERROR: could not insert module /root/cortx-motr/m0tr.ko: Invalid parameters"
Hi,

I had encouter this error when run the test, and try the solution at #598 , but seem like no luck, any idea ?

[code]

[2021-06-25 11:56] yanqingfu commented on #658
@hessio  the test itself is not failing, but here is the error message

![image](https://user-images.githubusercontent.com/68423216/123421428-6696f000-d5ef-11eb-96be-922f4dee20ea.png)

[2021-06-25 12:00] yanqingfu commented on #791
maybe try Qs2 and Qs3 https://github.com/Seagate/cortx/blob/main/doc/Build-Installation-FAQ.md

[2021-06-25 17:22] mengwanguc opened #794 "stuck on unit test spiel-ci-ut"
Hello,

I'm running Quick-Start-Guide (https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst) on a CentOS 7.8.2003 machine.

Everything went well during building. However, when I was running the tests, I was stuck on `spiel-ci-ut ` unit test for hours.

This is the output:
[code]

It hangs for hours and doesn't finish.

I've tried 3+ times on different machines with the same sy

[2021-06-25 17:23] andriytk commented on #343
From system log:
[code]
So looks like `hax` is the bottleneck.

Versions:
[code]

[2021-06-25 18:58] mengwanguc commented on #794
temporarily close this because another try works fine. Will debug more later

[2021-06-25 22:36] mengwanguc commented on #794
Turn out the result replied on the machine type.
I was testing on two different types of machines on Chameleon cluster. One is called "haswell". The other is called "skylake".

The unit tests pass succussfully on Skylake.
However, on Haswell machines, the `spiel-ci-ut` test hangs for hours and doesn't finish as reported above.

I'm not sure what `spiel-ci-ut` `pool-dix-repair` test really does.
I'

[2021-06-25 22:39] mengwanguc commented on #794
This is the specifications of the Haswell machine:

_Site: nu Cluster: chameleon Platform Type: x86_64 # CPUs: 2 # Threads: 48 RAM Size: 137438953472 Node Type: compute_haswell Wattmeter: no Version: 4f68deb67b74f78cf0e335bd1435a902074433da
Bios
Release Date: 10/002/2015 Vendor: Dell Inc. Version: 1.5
Chassis
Manufacturer: Dell Inc. Name: PowerEdge R630 Serial: 4GRY482
GPU
GPU: no
Processor
Cache

[2021-06-26 00:05] mengwanguc opened #795 "should we uninstall pip setuptools?"
This is an issue with [motr Quick Start Guide](https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst) but it's highly related to [S3 Quick Start Guide](https://github.com/Seagate/cortx-s3server/blob/main/docs/CORTX-S3%20Server%20Quick%20Start%20Guide.md)

In Motr QSG, there is a [trouble shooting](https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst#trouble

[2021-07-01 17:15] mengwanguc commented on #775
I made a PR at #783

[2021-07-01 17:16] #775 closed

[2021-07-01 22:26] daniarherikurniawan opened #816 "A 4-nodes Cluster deployed, but I/O test catch errors"
### A little bit of background
I am following Motr [Readme](https://github.com/Seagate/cortx-motr/wiki/Build-Motr-from-Source-in-a-Cluster) that build motr from source and deploy it across the cluster. I am using Chameleon cluster (4 nodes). I can run single-node Motr successfully on each node. **The I/O test for the single-node also went well.**

I am also able to do passwordless ssh to/from all

[2021-07-02 06:56] madhavemuri commented on #816
@daniarherikurniawan : I suspect some ENOSPACE error here.
Can you run `m0reportbug` utility on each node, which collects support bundle on each node and share it here.
Also post output of  `df -h`, `lsblk` and `hctl status --json` here.

[2021-07-02 18:55] daniarherikurniawan commented on #816
Hi @madhavemuri! Thx for the feedback. I solve the problem after checking the `lsblk`! Turns out, one of the server doesn't have "loop" devices. If we run `sudo losetup /dev/loop$i /var/motr/disk$i.img` twice, it will cancel the setup. In my case, I run it twice, thus I have no loop devices in place.

I will suggest a few changes to the Readme to help improve the debugging process.
Close this for

[2021-07-02 18:55] #816 closed

[2021-07-05 12:59] hessio commented on #795
Hi @mengwanguc did you resolve this issue? Was this a resolution for this bug? Seagate/cortx-s3server#1007

[2021-07-05 13:02] hessio commented on #794
Hi @mengwanguc  thanks for creating this, I am not sure what this is do you think we should include a note in the guide explaining this is a possible issue when installing Motr? 

cc @andriytk @huanghua78

[2021-07-05 13:12] hessio commented on #791
Hi @kiwionly2 were you able to resolve this issue? If not please let me know and I will try to help debug.

[2021-07-05 13:30] andriytk commented on #794
@mengwanguc, I'd suggest trying to debug it. For example, attach with gdb to the process and print all the stacks in it: `t app all bt`.

Unfortunately, we cannot reproduce the issue at our side.

[2021-07-05 14:35] mengwanguc commented on #794
Thanks Andriy. I'll try to debug this myself first.

[2021-07-05 14:50] mengwanguc commented on #795
Hi @hessio , so the original issue is about `ipaddress` package, and it can be resolved by Seagate/cortx-s3server#1007.

However, the Motr guide troubleshooting provides a different solution `python -m pip uninstall pip setuptools`, which can cause problems later when installing s3.
So the provided solution solves a problem for motr installation, but create another problem for s3 installation.

So

[2021-07-06 02:02] mengwanguc opened #826 "m0_op_launch fails when running go/mkv"
Hello,

I was running [go/mkv](https://github.com/Seagate/cortx-motr/blob/main/bindings/go/mio/mkv.go) with the following command:

`sudo ./mkv -hax 10.52.3.172@tcp:12345:34:1 -ep 10.52.3.172@tcp:12345:33:1000 --prof 0x7000000000000001:0 -proc 0x7200000000000001:64 111:12345670 aaa aaaaaaa`

Basically here I want to put a key-value (aaa-aaaaaaa) to idx `111:12345670`. However, I got the following

[2021-07-06 08:28] andriytk commented on #826
Hello @mengwanguc, the index fid must have `0x78` prefix. We should probably add this check to mkv.

[2021-07-06 10:15] hessio commented on #795
Thanks @mengwanguc yes this makes sense. I am not sure what uninstalling setuptools will resolve, @andriytk or @huanghua78  do you know what the reason for uninstalling setuptools is? If we uninstall setuptools are we doing this for another reason or just to resolve this ip address issue mentioned above?

[2021-07-06 10:21] hessio commented on #791
I have tried to log in and am unable, you can reply here when there is a resolution on your ticket

[2021-07-06 11:30] mengwanguc commented on #826
Hi @andriytk, thanks!

I tried index fid `0x78001:12345670`, but got the same error.

I then checked your PR #828, and got it that the index fid `u_hi` must have `0x78` prefix followed by 14 hex symbols...
e.g. this fid will work: `0x7800000000000001:12345670`
but this won't: `0x78001:12345670`

I guess it will be better if we tell users the exact format of index fid.. Or maybe give them an exampl

[2021-07-06 11:59] andriytk commented on #826
Good point, will fix it. Thanks.

[2021-07-06 12:13] andriytk commented on #826
The error will look like this:
[code]

[2021-07-06 12:51] huanghua78 commented on #795
I don't know the reason of "uninstalling setuptools".

[2021-07-06 14:21] #826 closed

[2021-07-06 20:25] mengwanguc opened #830 "list all keys in a client index key-value store"
Hello,

I'm wondering is it possible to list all the keys in a client index key-value store?

By reading [idx.h](https://github.com/Seagate/cortx-motr/blob/main/motr/idx.h), looks like it's not supported yet, as it only implements 4 types of index operations (PUT, GET, DEL, NEXT).
But I want to double check in case I missed anything.

---
The background is that I want to implement a [go-datastore]

[2021-07-07 11:00] hessio commented on #830
Hi @mengwanguc I think you are right it is not available.

cc @andriytk

[2021-07-07 11:32] andriytk commented on #830
NEXT operation is there exactly for this purpose.

[2021-07-07 11:41] mengwanguc commented on #830
Ah I see. Do you mean NEXT is like a circular list iterator so that we can do:

k = NEXT(firstKey)
while (k != firstKey) {
    k = NEXT(k)
}

I thought it's a one-direction list so NEXT will reach end somehow. But if it's a circular iterator then it makes a lot of sense.

[2021-07-07 11:44] mengwanguc commented on #830
Hi @andriytk , I think my another question is how can user get the start key, if the user had no knowledge of the key-value store? (i.e. the user doesn't know any key at all)

[2021-07-07 11:45] andriytk commented on #830
Read more about it here - https://github.com/Seagate/cortx-motr/blob/e822f3af0eab46fc76cb52c6274b94cb5eaa3022/motr/client.h#L1445-L1458

[2021-07-07 11:46] mengwanguc commented on #830
Thanks! This answers all my questions!

[2021-07-07 12:02] #830 closed

[2021-07-07 15:31] johnbent commented on #830
@mengwanguc , can you please try to figure out why you didn't find this info yourself?  I don't think it is your failure!  I think the documentation needs to be improved.  So, can you please retrace your steps searching yourself for this information and find the place where it should be but isn't?  And then add it?  And then please add @andriytk as a reviewer to the PR?

[2021-07-07 16:10] mengwanguc commented on #830
Hi @johnbent , sure!

I think that was because when I was reading [idx.h](https://github.com/Seagate/cortx-motr/blob/main/motr/idx.h) for index key-store information, it only says "given a set of key balabala.."..  So I had the impression that users must give the starting key when calling `NEXT`. However, that's not true, as NEXT can still work even if user doesn't give the starting key.

I will a

[2021-07-07 16:12] johnbent commented on #830
Cool.  Please feel free to add it as a comment in idx.h directly if you think that is useful.

________________________________
From: Meng Wang ***@***.***>
Sent: Wednesday, July 7, 2021 10:10 AM
To: Seagate/cortx-motr ***@***.***>
Cc: John Bent ***@***.***>; Mention ***@***.***>
Subject: Re: [Seagate/cortx-motr] list all keys in a client index key-value store (#830)

Hi @johnbent<https://github.c

[2021-07-07 18:14] kimika88 opened #837 "permission denied error when doing unit test"
-bash-4.2$ sudo ./scripts/m0 run-ut
error fetching identities for protocol 2: agent refused operation
[sudo] password for (userid):
----- run_ut -----
/usr/bin/ld: cannot open output file /home/(userid)/code/cortx-motr/ut/.libs/17523-lt-m0ut: Permission denied
collect2: error: ld returned 1 exit statusn-bash-4.2$

[2021-07-07 18:42] johnbent commented on #837
Hello @kimika88 , thanks for trying out CORTX!  Sorry to hear you ran into an issue.  Can you please let us know which set of instructions you were following when you hit this error?

[2021-07-07 18:45] kimika88 commented on #837
Hi @johnbent I am following the quick start guide: https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst

[2021-07-07 18:59] johnbent commented on #837
Thanks.  And what is your test environment?

[2021-07-07 19:55] kimika88 commented on #837
I am on a vm with CentOS 7.9.2009 x86_64

[2021-07-08 03:45] imvenkip commented on #837
@kimika88  Please follow below steps.

1. mkdir /home/<userid>/share
2. chmod 777 /home/<userid>/share
3. sudo bash
4. cd /home/<userid>/share
5. git clone --recursive https://github.com/seagate/cortx-motr.git
6. cd cortx-motr/
7. ./scripts/install-build-deps
8. ./scripts/install-motr-service --uninstall
9. ./scripts/m0 rebuild
10. ./scripts/install-motr-service --link
11. ./scripts/m0 run-ut

[2021-07-08 04:42] johnbent commented on #837
Thanks @imvenkip !  Is this different than the instructions in https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst?

[2021-07-08 05:58] imvenkip commented on #837
@johnbent Yes. @kimika88 is trying with regular user. I am suggesting to try with root user.

[2021-07-12 03:38] kiwionly2 commented on #791
@hessio Look like the helpdesk is get me another instance instead of find out the root cause, so I got no way to show you the error anymore, I will open another issue if I encounter this again. thanks !

[2021-07-12 03:38] #791 closed

[2021-07-12 15:56] kimika88 commented on #837
Thanks @imvenkip , this instruction is helpful.

[2021-07-12 15:56] #837 closed

[2021-07-12 22:05] kimika88 commented on #837
Just to note that I need to constantly chaning permissions to the newly created files unless in the root directory.

[2021-07-13 21:22] kimika88 commented on #641
I have the same error

[2021-07-14 17:37] justinzw commented on #641
ok, I will work on reproducing. Thank you for reporting this @kimika88 and stay tuned for an update.

[2021-07-15 12:30] jenny-cheung opened #856 "Potential deadlock with unreleased lock w->cw_lock"
Dear developers:
First, thank you for your checking! It seems the lockw->cw_lock is not released within the function and even after the function returns and the thread `(pthread_create(&task[i].wt_pid,NULL, worker_thread, &task[i]);` is destructed.

https://github.com/Seagate/cortx-motr/blob/087ae69a3a22876ebffe7478559e82123b40e8d7/motr/m0crate/crate.c#L259

Here are the relevant codes.
[code]

[c

[2021-07-16 03:30] kiwionly2 opened #859 "Missing perl-YAML-LibYAML when run scripts/m0 make"
Hi,

When I run `scripts/m0 make`, I had encounter this.

![image](https://user-images.githubusercontent.com/77140436/125887300-fd68665d-3cf7-4ae1-9d5f-5249e50c1f1f.png)

After I installed `perl-YAML-LibYAML`, it work as expected.

Not sure should we add a check and auto install not available ?

[2021-07-16 03:38] kiwionly2 opened #860 "Build stop when encounter Lustre network error"
Hi,

I encounter error when build motr which related to Lustre.

![image](https://user-images.githubusercontent.com/77140436/125887822-8d4d23ac-01b4-4ebf-b984-34878a394de3.png)

any idea ?

[2021-07-19 15:13] johnbent commented on #856
Thanks @jenny-cheung !  Just curious: how did you find this?  Just reading the code or you did some automated analysis?

[2021-07-19 15:48] andriytk commented on #856
Hi @jenny-cheung, the mutex is released at this callback: https://github.com/Seagate/cortx-motr/blob/bcb31b1a4c96ac227ba9c8ac2c5f204c692952e5/motr/m0crate/crate.c#L275.

[2021-07-19 15:48] huanghua78 commented on #856
Thank you, @jenny-cheung.

From the code and its comments:
[code]

[2021-07-20 04:45] jenny-cheung commented on #856
@johnbent It is found by the static analysis tool we developed.
@huanghua78 @andriytk Thank you for your detailed reply! It should be a false positive.

[2021-07-20 04:45] #856 closed

[2021-07-20 17:46] #735 closed

[2021-07-20 17:47] johnbent commented on #856
Hey @jenny-cheung , is the tool pinpoint?  https://qingkaishi.github.io/public_pdfs/PLDI2018.pdf That looks very cool!  Thanks.  John

[2021-07-21 05:07] mehjoshi commented on #545
Thank you @pasis and sorry for the delay in getting back on this.
I looked at the scan reports. I do not know how to look at it very well so I went through the index and picked a few of each of the Bug Types. Below, I list them and a few of my findings:

1) 'Uninitialized argument value':
	I ignored most of the errors in this category as they are in some or the other UTs.
    However, I looked at

[2021-07-22 08:05] mehjoshi commented on #795
@mengwanguc ,
I don't understand the issue. The motr Quick Start Guide says to uninstall pip if the pip installation fails.
However, you seem to have encountered a different issue:

So, why do you suggest updating Motr QSG?

[2021-07-22 17:58] mengwanguc commented on #795
Hi @mehjoshi , thanks for pointing it out.

I think at that time, when I was reading this troubleshooting "If the pip installation fails while installing build dependencies", my understanding was "if an installation failure related to pip happens", not "if the installation of the pip itself happens".
(though the latter should be the correct understanding as you've pointed out.)

And at that time,

[2021-07-23 09:18] mehjoshi commented on #795
Hi @mengwanguc.
At this point I can't clearly tell why we need to uninstall pip and setuptools. I see comments in some build config files which suggest that we are dependent on Ansible requiring python-setuptools from 2.7 for building Motr doc packages. Whether this still applies or whether this is something left behind as a residue during our development is something that will need investigation.

[2021-07-27 23:59] darkryder opened #893 "Unable to spin up cluster with > 3 nodes."
I am following [this guide](https://github.com/Seagate/cortx-motr/wiki/Build-Motr-from-Source-in-a-Cluster) to spin up a motr cluster. I am able to spin up a 3 node cluster, even with multiple disks and different fault tolerance strategies.

However, as soon as I attempt to introduce more nodes to the setup, I am unable to bootstrap the cluster. I believe motr is correctly setup on those nodes sin

[2021-07-28 00:08] johnbent commented on #893
Hello @darkryder .  Thanks for opening this issue.  Are you trying to grow an existing motr cluster?  That is not currently supported so I wouldn't expect that to succeed.  If you are merely trying to create a new larger cluster using the pieces of the old one, then I would expect that to work but maybe you need to clean up or something first?  Plus @andriytk  to confirm that growing an existing c

[2021-07-28 03:09] kiwionly2 commented on #860
Hi @hessio,

Not sure if you free to help me take a look.

My self service  cloud instance is ssc-vm-6193.

[2021-07-28 08:48] andriytk commented on #893
This looks like a regression.  @darkryder could you please try `sage-base-2.0` tag of Motr+Hare? This is known to work on more than 3 nodes. It will help to figure out whether this is a regression or some testing issue. Thanks!

[2021-07-28 13:08] darkryder commented on #893
@johnbent I am currently trying to setup a fresh cluster w/ size > 3 nodes. I am passing `--mkfs` to `hctl bootstrap` which seems to clear the data drives at the very least. I can't see any public flag to clear any other config/map state.

@andriytk Thanks for the tag! It will indeed help me figure out if there's some problem with how I'm setting up the cluster. I'll check it today.

[2021-07-28 13:48] darkryder commented on #893
@andriytk I have been able to successfully spin up a 6 node cluster w/ 4+2 erasure coding using `sage-base-2.0`.

[2021-07-28 14:37] andriytk commented on #893
So this is definitely a regression. Thanks for reporting!

[2021-07-28 15:52] madhavemuri commented on #893
We are looking into the root cause of this issue.
https://jts.seagate.com/browse/EOS-16272?focusedCommentId=2154981
@yatin-mahajan  @suvratjoshi : ^

[2021-07-29 13:41] andriytk commented on #893
Another ticket was created about this - https://jts.seagate.com/browse/EOS-23180 and started being looking at, on priority.

[2021-07-29 16:56] madhavemuri commented on #893
@andriytk @darkryder :
 N=1 and  K=2  works fine for dix pool for 4-nodes setup, as earlier it was N=1 and k=0 by default.

As with recent changes  K for DIX pool is taken as `number of nodes - 1` by default,  K is taken as 3 which caused mkfs issue.
I think we need to add support/fix the issue for K>2 for DIX pool.

[2021-07-29 17:19] andriytk commented on #893
Thanks @madhavemuri for the update.

@darkryder as a workaround, you can specify the DIX pool redundancy parameters explicitly in the CDF, under the `pools:` section like this:

[code]

[2021-07-29 21:54] darkryder commented on #893
Am I correct in assuming that a dix pool will store index-es [link](https://github.com/Seagate/cortx-motr/blob/main/motr/client.h#L365), while an sns pool will store [Objects](https://github.com/Seagate/cortx-motr/blob/main/motr/client.h#L365)?

I did want to store objects, which is why I set type to sns.

[2021-07-30 07:33] andriytk commented on #893
@darkryder that's correct. Before, the DIX pool was always 1+0. But with the recent changes it depends on the number of configured nodes and becomes 1+(n - 1), so for 4 nodes it automatically is configured to 1+3. And there is some bug such configurations of DIX pool on 4+ nodes. We are working on this.

Keep tuned, and many thanks for trying it!

[2021-08-01 12:27] andriytk opened #906 "Cannot read object after node failure in 3-nodes cluster with 1+2 parity configuration"
3-nodes cluster (each node having 10 disks) with 1+2 pool configuration:

[code]

Write some object, then fail any of 3 nodes, then try to read the object:

[code]

[2021-08-02 14:26] andriytk commented on #906
@mssawant does Hare set nodes as failed nowadays? If not, might it be the root cause of the issue?

[2021-08-02 17:08] madhavemuri commented on #906
@yatin-mahajan : Can you check this issue ?

[2021-08-02 17:11] madhavemuri commented on #906
@andriytk : Can you provide more information like, what commit you have used and was it successful before ?
Currently team (motr and hare) is working (In-progress) on supporting node failure/shutdown cases in latest main/stable.

[2021-08-02 17:16] andriytk commented on #906
Originally, the issue was reported at https://cortxcommunity.slack.com/archives/C019S0SGWNQ/p1627692319006700. I then reproduced it locally on Motr commit 245ec4b and Hare commit 14a90a5.

[2021-08-02 17:49] madhavemuri commented on #906
@andriytk:
As now node is mapped to enclosure, use following allowed failures vector.
   allowed_failures: { site: 0, rack: 0, encl: 1, ctrl: 1, disk: 2 }

 I have checked with following config for 1+2 with two ioservices per node, it worked fine.
  `   pools:
- name: the pool
  data_units: 1
  parity_units: 2
  spare_units: 0
  allowed_failures: { site: 0, rack: 0, **encl: 1,** ctrl: 2, disk: 2 }

[2021-08-02 20:30] andriytk commented on #906
@madhavemuri how did you configure 2 ioservices per node?

[2021-08-03 05:16] darkryder commented on #906
Q1: I’m on `sage-base-2.0` for both hare and motr. With an 8 node cluster (1 disk on each node), reads still fail after a node crashes. The allowed failure vector is `{ site: 0, rack: 0, encl: 1, ctrl: 1, disk: 1 } `.

The error is
[code]

Q2: Could there be incompatibility between different versions of `cortx-utils`? Specifically, how do I know which git version of `cortx-utils` works for `sage-b

[2021-08-03 05:20] mehjoshi commented on #545
@pasis , We haven't heard back from you on this, so I am going to go ahead and close it. Thanks!

[2021-08-03 05:20] #545 closed

[2021-08-03 07:04] andriytk commented on #906
I don't think cortx-utils is related here. If Hare compiles without any issues, then your version of cortx-utils is probably fine.

[2021-08-03 09:33] madhavemuri commented on #906
@andriytk : In CDF.yaml, populate two io_disks sections in a following way.

`- data_iface: eth3
  data_iface_type: tcp
  hostname: VM-node-3.com
  m0_clients:
    other: 3
    s3: 1
  m0_servers:
  - io_disks:
      data: []
    runs_confd: true
  - io_disks:
      data:
      - /dev/sdc
      - /dev/sdd
      - /dev/sde
      - /dev/sdf
  - io_disks:
      data:
      - /dev/sdg
      - /dev/sdh

[2021-08-03 17:56] darkryder commented on #906
@madhavemuri What were the git versions of hare and motr when you ran the test of crashing 1 node out of 3?

[2021-08-04 10:10] madhavemuri commented on #906
Tested with latest main branch of motr and hare with a three node setup.

[2021-08-05 06:03] madhavemuri commented on #893
@darkryder @andriytk : Fix for this issue is landed to main `1cb064df97d1a313eb577d942358564a2ba47c60`
Configure DIX pool in a following way,
  - name: my-dix-pool
    type: dix
    data_units: 1   # N data units
    parity_units: 2  # K  parity units
    spare_units: 0   # S  spare units

[2021-08-06 05:20] imvenkip commented on #795
PR: https://github.com/Seagate/cortx-motr/pull/928

[2021-08-09 12:40] hessio commented on #860
Hi @kiwionly2 yes I will try to take a look either today or tomorrow, sorry for the delay

[2021-08-09 13:04] hessio commented on #860
Oh I see in the image you are not logged in as /root user.
If you run: `sudo su -` you should switch to root user and be able to complete this installation

[2021-08-09 16:01] kiwionly2 commented on #860
Thanks @hessio , I rebuild m0tr with root user and is working now.

We need root user is it because I am running in the Seagate self service cloud ?

[2021-08-09 16:23] huanghua78 commented on #860
Building Motr itself does not require "root" user.
But you need to install some packages with root user before building.
Please run  ./scripts/install-build-deps with root user.

[2021-08-09 16:28] kiwionly2 commented on #860
@huanghua78

I was able to build with root user ( in Seagate Self Service Cloud ) with no error.

However when I was build not using root, it hit with this error.

Previously I could build m0tr not using root user and it work without this error.

[2021-08-09 16:43] huanghua78 commented on #860
This is not a good practice. Especially on a NFS mounted home dir.
When you first time built Motr with root user, it created some files, including configure files and some symlink files.
Later, when you again built Motr with normal user, the building system may still be using some of these files. But these files are not accessible to a normal user.
Especially, on a NFS mounted home dir, the files

[2021-08-09 17:03] kiwionly2 commented on #860
I encounter configure error for lnet ( detail at the top of description ) when I am running build with own user account ( normal user).
After I rebuild with root user as per @hessio suggest, the build is working now.

Now I build again with my own user account which fail previously, everything is working now, and I no longer able to reproduce this error.

Not sure If running unit test after build

[2021-08-18 11:26] mehjoshi commented on #795
This issue is fixed by:
EOS-23124: Improve Troubleshooting section in Quick-Start-Guide
The install-build-scripts is updated to install python-ipaddress and the troubleshooting documentation is now updated as well to better describe the failure message.

[2021-08-18 11:26] #795 closed

[2021-08-18 12:09] mehjoshi commented on #859
Did you run motr/scripts/install-build-deps? Normally, it should install the needed pre-requisites.

[2021-08-18 12:18] mehjoshi commented on #860
@kiwionly2, I see that you are not facing this issue anymore. So, I will go ahead and close this issue. Feel free to re-open incase you disagree.

[2021-08-18 12:18] #860 closed

[2021-08-30 07:04] yanqingfu opened #1012 "motr unit test cas-client error"
[root@ssc-vm-g3-rhev4-0505 cortx-motr]# scripts/m0 run-ut -t cas-client
----- run_ut -t cas-client -----
START Iteration: 1 out of 1
cas-client [Leonid]
  idx-create [Leonid] motr[23151]:  5860  FATAL  [lib/assert.c:50:m0_panic]  panic: Unit-test assertion failed: rc == 0 at cas_client_init() (cas/ut/client_ut.c:183)  [git: 2.0.0-307-32-g25afb2d] /var/motr/m0ut/m0trace.23151
Motr panic: Unit-test

[2021-08-31 10:38] hessio commented on #1012
Hi @huanghua78 do you know what the cause of this is?

[2021-09-09 16:17] mengwanguc opened #1036 "panic: (unit_sz && cs_size) at m0_extent_get_checksum_nob()"
Running example1.c and go/mcp both gives me this error:

[code]

Tested on both CentOS 7.8 and 7.9 systems. Both have this problem.

An older commit doesn't have this problem.
For example, commit `6e8a2dd1f0bf4db9b148d209a66a84142d640bd0` works fine.

[2021-09-09 17:54] mengwanguc opened #1037 "go/mcp offset should be multiple of 4KiB"
go/mcp provides an `-off` option for user to specify the starting offset of reading an object.

In my case, the offset must be a multiple of 4KiB. Otherwise I will see error:

[code]

Specifying offset to be 4KiB won't have this problem:

[code]

[2021-09-09 17:56] mengwanguc commented on #1037
@andriytk maybe add this to the go/mcp doc?

[2021-09-13 09:00] andriytk commented on #1037
We better fix it in the code of go/mio...

[2021-09-14 12:31] hessio commented on #1036
@mukul-seagate11 do you know to assign this issue to?

[2021-09-20 11:25] yanqingfu opened #1055 "motr unit test dix-client-ut error"
[root@ssc-vm-g3-rhev4-1169 cortx-motr]# scripts/m0 run-ut -t dix-client-ut
----- run_ut -t dix-client-ut -----
START Iteration: 1 out of 1
dix-client-ut
  imask                                           0.00 sec  248 B
  imask-apply                                     0.00 sec  272 B
  imask-empty                                     0.00 sec    0 B
  imask-infini

[2021-09-20 13:34] hessio commented on #1055
Hi @andriytk do you know what is causing this issue?

[2021-09-20 13:46] yanqingfu opened #1057 "pip install python-ipaddress failed"
followed https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst
https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst#troubleshooting

If pip fails to install a package while installing build dependencies, try installing packages using pip installer. run the following commands if package is ipaddress:

sudo pip install python-ipaddress
sudo scripts/install-bu

[2021-09-20 14:36] andriytk commented on #1055
No. Which commit id? Does it reproduce on the latest one? Does it 100% always reproduce?

[2021-09-20 14:53] yanqingfu commented on #1055
tested on the main branch. reboot VM still has the error. tested two VMs still has the error
CentOS Linux release 7.9.2009 (Core), 3.10.0-1160.el7.x86_64

[2021-09-20 14:55] yanqingfu commented on #1012
tested on the main branch. reboot VM still has the error. tested on two VMs still has the error
CentOS Linux release 7.9.2009 (Core), 3.10.0-1160.el7.x86_64

[2021-09-20 15:05] huanghua78 commented on #1012
This is known issue.
Jira Ticket is created.

[2021-09-20 15:07] yanqingfu commented on #1012
noted

[2021-09-20 16:14] hessio commented on #1057
I tried to reproduce this error, when I run `sudo scripts/install-build-deps` this completes without error, can you retry this on a fresh setup?

[2021-09-20 16:18] yanqingfu commented on #1057
the error I want to indicate is related to command **pip install python-ipaddress**
not with **scripts/install-build-deps**

[2021-09-20 16:19] yanqingfu commented on #1057
[root@ssc-vm-g3-rhev4-1169 ~]# pip --version
pip 9.0.3 from /usr/lib/python3.6/site-packages (python 3.6)
You have new mail in /var/spool/mail/root

[2021-09-20 16:23] yanqingfu commented on #1057
scripts/install-build-deps is running ok for me

I just want to test the mentioned debug process

[2021-09-20 16:23] imvenkip commented on #1057
It's looking, your trying to execute command with root login.

[root@ssc-vm-g3-rhev4-1169 744290]# rpm -qa | grep ipaddress
python-ipaddress-1.0.16-2.el7.noarch

[2021-09-20 16:40] yanqingfu commented on #1057
which means we need to put **yum install python-ipaddress**  or **pip install ipaddress** in the instruction?

[root@ssc-vm-g3-rhev4-1169 cortx-motr]# yum install python-ipaddress            Loaded plugins: fastestmirror, product-id, search-disabled-repos, subscription-
              : manager
Loading mirror speeds from cached hostfile
 * epel: pubmirror1.math.uh.edu
EOS_CentOS-7_CentOS-7-Extras

[2021-09-20 16:46] #1057 closed

[2021-09-20 17:33] r-wambui commented on #1055
I have the same issue, some unit tests are failing on both VirtualBox VM and VMware.

1- unit-test cas-client
![Screenshot (3)](https://user-images.githubusercontent.com/27200863/134045997-2999fb3e-b225-4a1d-a33c-8ba5db8e95f8.png)

[2021-09-20 18:23] andriytk commented on #1055
cc @madhavemuri, @truptiatseagate

[2021-09-20 19:03] johnbent commented on #1055
@JugalPatil , when you committed #1044, was this working for you?

[2021-09-20 20:47] lia54 opened #1062 "Problem to test the fdmi app in the fdmi-sample-app branch"
Hi, I am trying to test the fdmi app from this link:
https://github.com/Seagate/cortx-motr/tree/fdmi-sample-app/fdmi/plugins
and I am having problems to find the fdmi filter id from the cluster settings.

I went over the code to see how they parse the /etc/motr/confd.xc to get this value and there is not line on that file starting with 0x6c value.
Does this means the cluster is not running with th

[2021-09-21 03:51] truptiatseagate commented on #1055
@nkommuri, Would you pls help with this issue by having someone from Motr4 work upon it, during the sprin53 that starts tomorrow. CC: @zohebkhann

[2021-09-21 03:58] nkommuri commented on #1055
Sure Trupti, we will start working on this.

[2021-09-21 10:11] hessio commented on #1062
I am not sure, @andriytk do you know?

[2021-09-21 10:45] andriytk commented on #1062
Maybe @max-seagate knows.

[2021-09-21 10:48] max-seagate commented on #1062
@lia54: https://github.com/Seagate/cortx-hare/pull/1631 is required for Hare to add FDMI filters to Motr configuration.

[2021-09-21 12:13] cortx-admin commented on #1055
This looks like a duplicate of the following: https://jts.seagate.com/browse/EOS-24883

[2021-09-21 15:12] johnbent commented on #1062
@lia54 , yeah, please watch that PR and when it lands, then let's try again.

[2021-09-21 16:21] cortx-admin commented on #1055
Yes [~744289]  this issue is exactly same as https://jts.seagate.com/browse/EOS-24883

 

Here is the backtrace...

(gdb) bt
#0 0x00007fbe52be6387 in raise () from /lib64/libc.so.6
#1 0x00007fbe52be7a78 in abort () from /lib64/libc.so.6
#2 0x00007fbe54b0bf95 in m0_arch_panic (c=c@entry=0x7ffde9a19490, ap=ap@entry=0x7ffde9a19368) at lib/user_space/uassert.c:131
#3 0x00007fbe54afa0d4 in m0_panic (ct

[2021-09-21 18:29] lia54 commented on #1062
Thanks everyone! @johnbent @andriytk @max-seagate @hessio
I asked @huanghua78 about it and he said I should work under the fdmi-int branch with a script he setup on the fdmi/plugins directory. I will follow up with him for the next set of problems.

[2021-09-22 02:55] huanghua78 commented on #1062
Basically, these branches (e.g. fdmi-sample-app) are for internal use.
Actually, these branches should be deleted when PRs are merged.
Actually, these branches should not be created.

"Does this means the cluster is not running with this capability?"
Yes. The cluster is not running.

Please see the demo from @rajkumarpatel2602 and @huanghua78 , you will see how to run this.
I am closing this issue

[2021-09-22 02:55] #1062 closed

[2021-09-22 15:09] lia54 opened #1068 "Problem to run cortx cluster-motr --Cluster Bootstrap stuck in the Starting Motr phase"
I was trying to setup a cortx-motr cluster up and running using the following command:
`sudo hctl bootstrap --mkfs singlenode.yaml` and it got stuck into the `Starting Motr (phase1 , mkfs)` step.
This has happened to me in the past and in some cases I was able to solve it by restarting the VM.
Does anyone know which one could be the cause of this issue?
Is it possible that some motr services are f

[2021-09-22 16:30] nkommuri commented on #1055
Root cause : Reordering of the initialization sequence of transports
    caused the issue. "sock" was put before "lnet", because of this dix_client_ut
    in UT is trying to use very first transport(sock) while the server is
    using the transport based on the endpoint format(lnet). That is why we
    see ETIMEDOUT. Client cannot connect to server because they are using
    different transport

[2021-09-22 16:33] nkommuri commented on #1068
While (phase1, mkfs) is stuck, can you please check if hax is running or crashed? In case it crashed, journalctl must have some info regarding the crash.

[2021-09-22 16:38] johnbent commented on #1055
Awesome thanks @nkommuri ! Will a PR be showing up soon to fix this?

[2021-09-22 17:05] lia54 commented on #1068
I checked the services and hare-hax service is failed I restarted it and I also have the network service marked as failed, but I could not restart it successfully.

[2021-09-23 04:27] nkommuri commented on #1068
Hi, did you find any useful info in journal log regarding hax crash? Which motr process is still running even after "hctl shutdown"? You can find it in "ps" output.

[2021-09-23 04:33] nkommuri commented on #1055
Hi John, PR Raised.
https://github.com/Seagate/cortx-motr/pull/1069

[2021-09-23 04:41] johnbent commented on #1055
Awesome!  Thanks much.

[2021-09-23 05:22] mehjoshi commented on #1068
Also, check using lsmod if the m0tr module is still left loaded. If so, unload it using rmmod.

[2021-09-23 06:23] yanqingfu commented on #1055
works

[root@ssc-vm-g3-rhev4-1169 cortx-motr]# scripts/m0 run-ut -t dix-client-ut
----- run_ut -t dix-client-ut -----
START Iteration: 1 out of 1
dix-client-ut
  imask                                           0.00 sec  248 B
  imask-apply                                     0.00 sec  272 B
  imask-empty                                     0.00 sec    0 B
  imask-infini

[2021-09-23 06:33] yanqingfu commented on #1068
could you check the following:

**cat /etc/modprobe.d/lnet.conf**

**ip a**

and **data_iface** in singlenode.yaml file

[2021-09-26 11:09] cortx-admin commented on #1055
Duplicated of EOS-24883

[2021-09-26 11:10] cortx-admin commented on #1012
This issues is being addressed through  EOS-24883

[2021-09-27 15:07] lia54 commented on #1068
I checked the cat /etc/modprobe.d/lnet.conf, ip a and data_iface in singlenode.yaml file and the three of them are ok using the same interface.
I checked the m0tr modules after running hctl shutdown and there are two modules still loaded m0ctl and m0tr plus the galois module that it is used by m0tr. I was not able to remove the m0tr module since it says that is in used.

[2021-09-27 16:45] lia54 commented on #1068
@nkommuri I was not getting any event regarding the hare-hax crashed in the journalctl.
Is it possible that I am not being able to see the entire system log?
When I tried sudo journalctl it does not show any output

[2021-09-27 17:55] lia54 commented on #1068
@nkommuri I was able to check what is the output by running
`sudo journalctl --since <time_for_hare_crash>` with @andriytk help!

This is the output of the log and as we can see in the bold section it seems that the Motr version was not compatible with the Hare one since I rebuild Motr using a different branch to be able to run some additional tests.

`Sep 27 09:54:02 smc3-m03.colo.seagate.com har

[2021-09-27 19:58] mengwanguc commented on #1068
I also had this problem.

The hctl bootstrap works fine after I installed motr and hare.

However, once I reboot the machine, hctl bootstrap doesn't work any more and is stuck at `Starting Motr (phase1 , mkfs)` just same as Liana...

I feel something is wrong when shutting down motr.

Therefore, when I use hare, I have to avoid shutting down hctl or rebooting the machine. Otherwise I may have to r

[2021-09-28 12:02] nkommuri commented on #1068
@lia54 Can you please try rebuilding the Hare. Thanks

[2021-09-29 04:25] huanghua78 commented on #1068
As @lia54 mentioned in logs, the mismatch of Motr and Hare version may cause issues.

The Hare (Hare-Hax) is using Motr library. So, if a new version of Motr is installed, the Hare also need to be rebuilt and re-installed.
Before new version is updated and reinstalled, the Motr cluster should be shut down with "hctl shutdown".

Please note, the Motr and Hare are tightly coupled. The latest main br

[2021-09-29 16:05] lia54 commented on #1068
After checking out the main branch for cortx-motr and cortx-hare and rebuild afterwards, I was able to successfully bootstrap the cluster using the command:
`hctl bootstrap --mkfs singlenode.yaml`

Thanks everyone for the help and feedback! @andriytk @nkommuri @huanghua78 @mehjoshi @yanqingfu @mengwanguc

[2021-09-29 16:33] johnbent commented on #1068
Awesome @lia54 ! Please go ahead and close this issue then.

[2021-09-29 16:38] #1068 closed

[2021-10-01 16:50] #1055 closed

[2021-10-01 16:50] cortx-admin commented on #1055
Fixed through [EOS-24883] ./scripts/m0 run-ut -t cas-client FAILED without -ETIMEOUT - JIRA NSS (seagate.com)

 

[2021-10-01 16:50] cortx-admin commented on #1055
Fixed through [EOS-24883] ./scripts/m0 run-ut -t cas-client FAILED without -ETIMEOUT - JIRA NSS (seagate.com)

[2021-10-01 16:51] #1012 closed

[2021-10-01 16:51] cortx-admin commented on #1012
Fixed through [EOS-24883] ./scripts/m0 run-ut -t cas-client FAILED without -ETIMEOUT - JIRA NSS (seagate.com)

[2021-10-01 16:51] cortx-admin commented on #1012
Fixed through [EOS-24883] ./scripts/m0 run-ut -t cas-client FAILED without -ETIMEOUT - JIRA NSS (seagate.com)

[2021-10-02 12:56] andriytk opened #1102 "warning: macro expansion producing 'defined' has undefined behavior"
When compiling with gcc-8 (devtoolset-8 in CentOS-7):

[code]

[2021-10-02 12:59] andriytk commented on #1102
cc @sanjognaik

[2021-10-04 06:47] cortx-admin commented on #1055
Verified

[2021-10-04 06:47] cortx-admin commented on #1012
Verified.

[2021-10-04 12:20] sanjognaik commented on #1102
Hi Andriy,
I followed below steps to compile the code with gcc-8.

[code]
Compilation was successful without any above mentioned warnings.

[2021-10-04 14:59] andriytk commented on #1102
Strange. I compiled it in arm64, maybe that's why. Will re-check...

[2021-10-04 15:08] nkommuri commented on #278
Closing as I don't see the branch now. Please reopen if the issue exists.

[2021-10-04 15:08] #278 closed

[2021-10-04 16:14] andriytk commented on #1102
Ah, I do see it when building Hare:

[code]

[2021-10-04 16:35] nkommuri commented on #22
Verified that  Motr Doxygen building  works.
@johnbent , Is this ticket intended for creation of public Doxygen using Github pages? If not, we can close this ticket.

[2021-10-04 16:38] andriytk commented on #1102
Also, I think it will show up when building Motr with [CastXML](https://github.com/CastXML/CastXML) (instead of deprecated GCCXML).

[2021-10-04 16:49] nkommuri commented on #738
Closing as the test passes without panic.

[2021-10-04 16:49] #738 closed

[2021-10-04 16:59] nkommuri commented on #464
This has been addressed through https://jts.seagate.com/browse/EOS-21987.  This failure is expected.

Sometimes motr-server-ha can FAIL during shutdown of the service, due to
order in which services are being stopped and their interdependency.
FAILURE of motr-server-ha during shutdown is expected, as it is a dummy HA
and does not know the logic and events generated in other services.
This will not

[2021-10-04 16:59] #464 closed

[2021-10-04 17:16] johnbent commented on #22
@nkommuri yes, this is about creating public doxygen if that would be easy to do and people think it is useful

[2021-10-04 20:29] andriytk commented on #1102
It reproduces with this vm - https://github.com/andriytk/cortx-motr/releases/tag/centos83ova.

[2021-10-05 07:48] sanjognaik commented on #1102
Created ticket https://jts.seagate.com/browse/EOS-25214.

[2021-10-05 08:29] nkommuri commented on #859
Closing as everything works fine now.

[2021-10-05 08:29] #859 closed

[2021-10-05 08:37] nkommuri commented on #744
@Saumya-Sunder , good to close? Or anything pending?

[2021-10-05 11:14] cortx-admin commented on #738
Test passed.

[2021-10-05 11:14] cortx-admin commented on #738
Fixed

[2021-10-05 11:14] cortx-admin commented on #738
Issue fixed

[2021-10-05 15:05] nkommuri commented on #654
@hessio  anything pending on this ticket?

[2021-10-05 15:40] hessio commented on #654
This issue should be closed this command no longer fails

[2021-10-05 15:40] #654 closed

[2021-10-06 05:07] cortx-admin commented on #1068
Github Issue closed

[2021-10-06 05:07] cortx-admin commented on #1068
Github issue closed

[2021-10-06 05:07] cortx-admin commented on #1068
.

[2021-10-06 05:07] cortx-admin commented on #859
Linked Github issue closed.

[2021-10-06 05:07] cortx-admin commented on #859
.

[2021-10-06 05:07] cortx-admin commented on #654
Linked Github issue closed.

[2021-10-06 05:07] cortx-admin commented on #654
.

[2021-10-06 05:07] cortx-admin commented on #654
.

[2021-10-06 05:07] cortx-admin commented on #464
Linked Github issue closed.

[2021-10-06 05:07] cortx-admin commented on #464
.

[2021-10-06 05:07] cortx-admin commented on #464
.

[2021-10-06 05:07] cortx-admin commented on #278
Linked Github issue closed.

[2021-10-06 05:07] cortx-admin commented on #278
.

[2021-10-06 17:28] andriytk opened #1119 "libfab compilation error with gcc-8"
When building with gcc-8 (using devtoolset-8 on CentOS 7):

[code]

Seems to be a regression after https://github.com/Seagate/cortx-motr/pull/623.

[2021-10-11 10:21] andriytk opened #1128 "Arm64 port to be added"
Arm64 port was implemented in context of Sage2 EU R&D project, and it is to be merged to main.

[2021-10-11 10:27] #1128 closed, assigned to andriytk

[2021-10-11 10:44] cortx-admin commented on #1128
Please note: the change requires for all Motr clients to add -include config.h parameter to CFLAGS from now on to be able to compile. (In config.h file, the CONFIG_X86_64 and CONFIG_AARCH64 macros are defined.)

[2021-10-11 15:29] lia54 opened #1130 "Failed to start Motr cluster"
Trying to deploy a cortx-motr cluster I got the following error:

2021-10-11 09:26:13: Generating cluster configuration... OK
2021-10-11 09:26:15: Stopping Consul on this node... OK
2021-10-11 09:26:27: Stopping Consul on other nodes... OK
2021-10-11 09:26:27: Starting Consul server on this node........... OK
2021-10-11 09:26:37: Importing configuration into the KV store... OK
2021-10-11 09:26:37:

[2021-10-11 15:46] cortx-admin commented on #1130
This issue has been mirrored in Jira Server: https://jts.seagate.com/browse/EOS-25361

[2021-10-13 07:13] cortx-admin commented on #1102
[PR-1117|https://github.com/Seagate/cortx-motr/pull/1117] raised.

[2021-10-13 07:28] nkommuri commented on #1130
@lia54 please let us know the hash of the repo cortx-motr that you are using

[2021-10-18 06:26] cortx-admin commented on #1119
[~711131],  are you working on this?

[2021-10-18 06:33] nkommuri commented on #1037
@andriytk are you working on this?

[2021-10-18 06:34] nkommuri commented on #1036
@yeshpal-jain-seagate @sg-shankar  Is this related to DI?

[2021-10-18 06:56] #658 closed

[2021-10-18 07:37] cortx-admin commented on #1062
.

[2021-10-18 07:37] cortx-admin commented on #1057
.

[2021-10-18 07:37] cortx-admin commented on #1057
.

[2021-10-18 07:38] cortx-admin commented on #794
.

[2021-10-18 07:38] cortx-admin commented on #744
.

[2021-10-18 09:23] andriytk commented on #906
@madhavemuri is it mandatory to have 2 IOSes configured per node for this to work? If so, why?

[2021-10-18 09:29] andriytk commented on #769
I'm not aware it was investigated and fixed by anyone, so, I'm afraid - yes, probably it's still there.

[2021-10-21 11:36] andriytk opened #1166 "REGRESSION: Motr API compatibility is broken after DI introduction"
The DI (Data Integrity) feature introduced at commit 3a429ad broke Motr API compatibility: attr[] parameter to m0_obj_op() has to be NULL now if user did not put blocks' checksums into it (which indicates that the DI feature is off). This API change imposes the requirement to update all Motr client apps now, even if they don't need to use the DI feature.

@madhavemuri suggests restoring the compat

[2021-10-23 05:38] kiwionly2 opened #1173 "Libfabric runs in userspace only. Kernel UTs are disabled!"
Hi,

I am build motr follow the quick start guide without using libfabric ( default should be lnet)

However, when I running kernel test, it show

[code]

Any idea ?

[2021-10-28 17:26] mengwanguc opened #1188 "libfabric-devel is needed by cortx-motr-2.0.0-1_giteef39d9_3.10.0_1127.19.1.el7.x86_64"
When I follow Motr Quick Start Guide and run "make rpms", I got this error:

`libfabric-devel is needed by cortx-motr-2.0.0-1_giteef39d9_3.10.0_1127.19.1.el7.x86_64
`

This can be resolved by simply running `sudo yum install libfabric-devel`

Probably we need to add it to "install-build-deps"?

[2021-11-02 09:25] nkommuri commented on #13
Hi,
As per @andriytk comment above, https://github.com/Seagate/cortx-motr/issues/13#issuecomment-696672912,   this is expected. Closing the ticket. Please reopen if you still see the issue even after Andriy's suggestion.

[2021-11-02 09:25] #13 closed

[2021-11-02 09:31] nkommuri commented on #3
@VenkyOS  , Hi Venky is this task done? Please close the ticket if done. thanks.

[2021-11-02 09:34] nkommuri commented on #143
Hi @VenkyOS , if the requested changes are done, please close the ticket. thanks

[2021-11-02 09:36] nkommuri commented on #283
@andriytk , are you still observing the issue?

[2021-11-02 09:39] nkommuri commented on #74
Hi @VenkyOS , please close the ticker if requested work is done. Thanks.

[2021-11-02 09:41] nkommuri commented on #302
@nikitadanilov  Can you please suggest/respond? Thanks.

[2021-11-02 09:47] nkommuri commented on #300
@mssawant , Is this issue still relevant?

[2021-11-02 09:49] nkommuri commented on #308
@VenkyOS , Please close the ticket if the requested work is done. Thanks.

[2021-11-02 09:51] nkommuri commented on #311
Hi @VenkyOS ,  Is this done? Thanks.

[2021-11-02 09:56] nkommuri commented on #360
@andriytk , can you please provide more info/input? What is the AI on motr team ?Thanks.

[2021-11-02 10:03] nkommuri commented on #450
@imvenkip  @truptiatseagate   Any improvements happened to m0crate as part of this ticket?

[2021-11-02 10:11] andriytk commented on #283
Yes, it still takes a lot of time to stop the cluster (about 5 minutes!). Stopping the last `hax` also takes a lot of time. The reason is probably the same.

To reproduce the problem, one have to do at least 3 steps: 1) start the cluster; 2) connect and disconnect some client app; 3) shutdown the cluster.

[2021-11-02 14:20] huanghua78 commented on #3
I don't think so. Maybe we need to pick it up again.

[2021-11-02 16:05] johnbent commented on #3
@VenkyOS is no longer at Seagate. However, @swatid-seagate can do this work. FYI @novium258

[2021-11-02 16:21] imvenkip commented on #450
@nkommuri  Already fix is available in main line.
Commit id: 7a734e79fe26f5a1f5b8b28d9859dee7d7750314
Merged PR: https://github.com/Seagate/cortx-motr/pull/461

[2021-11-02 17:06] johnbent commented on #311
Hello @nkommuri , all work assigned to @VenkyOS should be reassigned to @swatid-seagate. FYI @novium258

[2021-11-02 17:32] johnbent commented on #308
@nkommuri , @VenkyOS is no longer at Seagate. These tickets can be reassigned to @swatid-seagate. FYI @novium258

[2021-11-02 17:43] johnbent commented on #143
@nkommuri , @VenkyOS is no longer at Seagate. These tickets can be reassigned to @swatid-seagate. FYI @novium258

[2021-11-02 17:43] johnbent commented on #74
@nkommuri , @VenkyOS is no longer at Seagate. These tickets can be reassigned to @swatid-seagate. FYI @novium258

[2021-11-03 16:30] r-wambui commented on #1188
Ping folks via email for assistance.

[2021-11-08 06:32] nkommuri commented on #403
@huanghua78 please have a look at this once and suggest what needs to be done. Thanks.

[2021-11-08 06:43] nkommuri commented on #572
@andriytk  please let us know the current status of  PR? Can we apply this patch as it is or needs to be revisited? thanks.

[2021-11-08 06:47] huanghua78 commented on #403
This issue is outdated.
Please refer to files in `fdmi/plugins/*` for more details about how to write an FDMI application and how to compile it.

[2021-11-08 06:47] #403 closed

[2021-11-08 06:55] nkommuri commented on #609
@johnbent   since we have workaround and a separate JIRA issue ( https://jts.seagate.com/browse/EOS-19702) is created to handle actual fix, shall we close this Github issue? Thanks.

[2021-11-08 08:54] andriytk commented on #572
As far as I remember, the UT still has to be fixed/updated for this patch. Unfortunately, I don't have very much time to spare on it, so it will be good if someone from Motr team could pick it up.

[2021-11-08 18:08] johnbent commented on #609
Thanks @nkommuri . Should we close it now or should we wait until that JIRA issue is closed?

[2021-11-09 11:19] andriytk opened #1212 "motr/config.h must be included by Motr API users"
`motr/config.h` header has to be included by apps which use Motr API - which is pretty inconvenient. We can do better - include it automatically from the public headers which need it.

[2021-11-09 11:25] andriytk opened #1213 "Extend ISC demo with another min/max example"
Extend ISC demo with another min/max example, for the case when the data is stored as 8-byte double numbers arrays.

[2021-11-10 06:40] #1119 closed

[2021-11-10 12:05] upendrapatwardhan commented on #1173
@kiwionly2
Can you please check if libfabric is uninstalled on your setup if you are using lnet.
If not, please follow the steps mentioned [here](https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/711230113/Libfabric+setup+and+using+libfabric+with+motr#Uninstalling-libfabric-package)

[2021-11-10 16:22] andriytk opened #1216 "Warnings about string literals when compiling with c++ compiler"
When compiling with gcc-c++ version 8.3 compiler there are a lot of warnings for Motr headers:

[code]

[2021-11-10 17:17] r-wambui commented on #1037
@nkommuri Have you had a chance to work on this? Please update on the status.

[2021-11-11 09:09] kiwionly2 commented on #1173
@upendrapatwardhan

Yes, I had uninstall libfabric, then rebuild motr with latest code and run the test again.

However seem like same issue occurs.

![image](https://user-images.githubusercontent.com/77140436/141270150-c08e98fd-11fb-42b8-af62-1199dfe65140.png)

[2021-11-11 10:57] #1216 closed

[2021-11-11 10:59] #1212 closed

[2021-11-12 13:58] upendrapatwardhan commented on #1173
@kiwionly2
based on `Libfabric runs in userspace only. Kernel UTs are disabled!` , I think there is some libfabric binary still present on your setup. Could you try the following
1. Search for fi_info using 'updatedb` and `locate fi_info`  and remove all fi_info instances.
2. Rebuild motr code `./scripts/m0 rebuild`
3. Run the kut

[2021-11-12 17:28] cortx-admin commented on #1173
[~536285], Would you pls take this forward?
CC: [~715719], [~711131]

[2021-11-12 17:28] cortx-admin commented on #1173
Hi, can you please check if libfabric rpm is uninstalled on your setup? 

[2021-11-12 17:28] #1130 closed

[2021-11-12 17:28] cortx-admin commented on #1130
run "hctl bootstrap --mkfs ~/CDF.yaml" and " hctl shutdown" 10 times with the following CDF file

{code:java}
# Cluster Description File (CDF).
# See `cfgen --help-schema` for the format description.

create_aux: false # optional; supported values: "false" (default), "true"
nodes:
  - hostname: ssc-vm-g2-rhev4-1676.colo.seagate.com # [user@]hostname
    data_iface: eth1        # name of data netwo

[2021-11-12 17:28] cortx-admin commented on #1130
Verified with the code of git commit hash 0a58ae5a7a8a8b65f7e74c75cd2aa4e9a20d5510.
Successfully created cluster.

[2021-11-12 17:29] cortx-admin commented on #1130
Able to create cluster

[2021-11-12 17:29] cortx-admin commented on #1130
Closing as issue is not recreateable

[2021-11-12 17:29] cortx-admin commented on #1130
with git source code of hash 0a58ae5a7a8a8b65f7e74c75cd2aa4e9a20d5510
cluster is up.

[2021-11-12 17:29] cortx-admin commented on #1119
Should this be closed as a duplicate of address format changes, or something?  Is it a bug or a design gap until we get the address format fully developed?

 

[2021-11-12 17:29] cortx-admin commented on #1119
{panel:bgColor=#c1c7d0}h2. motr - main branch build pipeline SUCCESS
h3. Build Info:
* Author: Andriy Tkachuk
* Component Build  :  144
* Release Build    :  615

  h3. Artifact Location  :
*  http://cortx-storage.colo.seagate.com/releases/cortx/github/main/centos-7.9.2009/615
{panel}

[2021-11-12 17:29] cortx-admin commented on #1119
This piece of code will be cleaned up and moved to common location for all supported transports during the address format change task.
[PR-1206|https://github.com/Seagate/cortx-motr/pull/1206] started to fix this in the meantime.

[2021-11-12 17:29] cortx-admin commented on #1119
Changes merged to main branch

[2021-11-12 17:29] cortx-admin commented on #1119
Verified.

[2021-11-12 17:29] cortx-admin commented on #13
Github issue closed

[2021-11-12 17:29] cortx-admin commented on #13
.

[2021-11-12 17:29] cortx-admin commented on #13
.

[2021-11-12 17:30] cortx-admin commented on #1188
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26104. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-12 17:30] cortx-admin commented on #1212
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26105. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-12 17:30] cortx-admin commented on #1213
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26106. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-12 17:30] cortx-admin commented on #1216
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26107. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-15 04:34] kiwionly2 commented on #1173
@upendrapatwardhan

I had manually remove all libfabric, now the test able to run.

Thanks !

[2021-11-16 06:10] #1173 closed

[2021-11-16 06:10] cortx-admin commented on #1173
Fixed.
Addresses [#1173|https://github.com/Seagate/cortx-motr/issues/1173]

[2021-11-16 06:10] cortx-admin commented on #1173
Resolved

[2021-11-16 06:10] cortx-admin commented on #1173
Verified.
https://github.com/Seagate/cortx-motr/issues/1173#issuecomment-968531002

[2021-11-16 10:47] nkommuri commented on #465
@nileshgovande ,  Have you faced this issue during S3 QSG verification recently?

[2021-11-16 10:52] nkommuri commented on #482
@andriytk , can you please provide reproduction steps. thanks.

[2021-11-16 11:23] nkommuri commented on #906
@madhavemuri , can you please respond to this question? thanks.

[2021-11-16 11:30] nkommuri commented on #697
Closing as there is no response. Please re-open if the issue still exists.

[2021-11-16 11:30] #697 closed

[2021-11-16 11:44] cortx-admin commented on #697
Github issue closed.

[2021-11-16 11:44] cortx-admin commented on #697
.

[2021-11-16 11:44] cortx-admin commented on #697
.

[2021-11-16 11:44] cortx-admin commented on #697
.

[2021-11-16 11:54] andriytk commented on #482
@nkommuri, please see in the updated description above. Thanks.

[2021-11-16 14:35] andriytk commented on #769
It still happens:

[code]

[2021-11-17 11:18] r-wambui commented on #74
Hi @swatid-seagate @novium258 any updates on this? Swati have you managed to fix the links? If so could we please close this issue.

[2021-11-17 11:23] r-wambui commented on #143
@swatid-seagate Any update on this?

[2021-11-17 11:47] r-wambui commented on #121
@nikitadanilov Any updates on this?  @truptiatseagate You have been assigned this issue on Jira could you please let's know if this is in the pipeline or a is this  planned for future sprints?

[2021-11-17 12:35] r-wambui commented on #311
Hi @swatid-seagate could you please update on this?

[2021-11-17 12:52] r-wambui commented on #360
Hi @andriytk and @nezzzu Please provide the update on this? Could you let's know if this is in the pipeline or planned for future sprints?

[2021-11-17 12:59] swatid-seagate commented on #311
@r-wambui Will sure try to attempt the mentioned issue.

[2021-11-17 17:37] r-wambui commented on #465
Hi @hessio is this issue still relevant, are we facing the same issue in the current QSG?

[2021-11-17 17:42] r-wambui commented on #22
Hi @johnbent , what are the next steps on this? Does it need to be added to the documentation or the product. If product, has this been planned for future sprints?

[2021-11-17 17:52] r-wambui commented on #77
Hi @truptiatseagate has option 1(Add documentation into the test program itself) been fixed or still in progress? For option 2 (Finding out whit unit tests are causing the memory leaks) could you please let's know if someone is assigned to the task?

[2021-11-17 17:58] r-wambui commented on #20
Hi @madhavemuri and @andriytk has this issue been fixed on the commit ids referenced above?

[2021-11-17 18:03] r-wambui commented on #300
Hi @andriytk could you please let's know if this has been fixed, or scheduled for a fix or if it's still relevant?

[2021-11-18 09:40] nkommuri commented on #77
yes @r-wambui

[2021-11-18 17:45] johnbent commented on #22
Hey Rose,

I’m not sure. Perhaps @Trupti ***@***.***> knows?
________________________________
From: Rose Wambui ***@***.***>
Sent: Wednesday, November 17, 2021 10:43:00 AM
To: Seagate/cortx-motr ***@***.***>
Cc: John Bent ***@***.***>; Mention ***@***.***>
Subject: Re: [Seagate/cortx-motr] Can/should we create Doxygen? (#22)

This message has originated from an External Source. Please use proper j

[2021-11-19 04:55] imvenkip opened #1241 "Need to add correct word in cortx-motr main page"
onfigurations. To ensure the most efficient storage utilization, Motr interacts directly with block devices (i.e. it does not _layer_ on a local file system). The Motr design was heavily influenced by the Lustre file system, NFSv4 and database technology. It must be noted that traditional file system properties (hierarchical directory namespace, strong POSIX consistency guarantees, **&c.)** are no

[2021-11-19 05:21] cortx-admin commented on #1241
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26544. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-19 12:47] hessio commented on #465
As far as I know this issue was resolved

[2021-11-19 12:47] #465 closed

[2021-11-22 05:40] cortx-admin commented on #906
[~934462]
 two ios services per node is not mandatory, any number of ioservices per node is a supported configuration.
 the only condition is N+K+S <= num_datadevices.

[2021-11-22 06:49] cortx-admin commented on #77
As part of option 1, planning to print following statement at the beginning of run-ut. 

 

diff --git a/scripts/m0 b/scripts/m0

index ace98a6..42cdd10 100755

--- a/scripts/m0

+++ b/scripts/m0

@@ -325,6 +325,11 @@ UT output:    $RUNDIR

EOF

}

 

+if [[ "$1" == "run-ut" ]]; then

+   echo "Please note that we have observed memory leaks in some UTs which we are going to address in future relea

[2021-11-22 07:57] cortx-admin commented on #3
Review in process.

[https://github.com/Seagate/cortx-motr/pull/1237]

 

[2021-11-22 13:30] yanqingfu commented on #1188
if you install libfabric, it will give this error: https://github.com/Seagate/cortx-motr/issues/1173

[2021-11-22 13:34] cortx-admin commented on #3
[~530903] Why is this assigned to the "C-6 (ADG)" Team?

cc [~936118]

[2021-11-22 19:14] cortx-admin commented on #644
Hua commented he created a Jira ticket to track this.

[2021-11-22 21:27] rupasree-roy opened #1248 "motr build errors"
Am trying to run FDMI sample applications using `sudo fdmi/plugins/fdmi_plugins_st.sh`

However, while trying to build motr (for running the plugins) am getting some errors. Am following this Quickstart guide to build motr - https://github.com/Seagate/cortx-motr/blob/47e7b4aa1d87588cde7aed517e35dc0eb2e2c870/doc/Quick-Start-Guide.rst

Step 1 ran without any issues :
![image](https://user-images.git

[2021-11-22 22:34] cortx-admin commented on #1248
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26563. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-23 07:41] cortx-admin commented on #3
We don't have separate agile team in Jira who works for documentation requests. For making it simple I am changing it to motr4 as we are owning community support for motr

[2021-11-23 08:11] yanqingfu commented on #1248
try to use this method to remove libfab package: https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/711230113/Libfabric+setup+and+using+libfabric+with+motr#Uninstalling-libfabric-package

[2021-11-23 08:49] nkommuri commented on #1248
Suggest to update lnet section of QSG to point to this doc, for uninstallation of libfab

[2021-11-23 09:04] yanqingfu opened #1253 "motr kut test failure"
unit test passed, but kut test has some problems
reboot the vm still face the same issue

Time: 2333.70 sec, Mem: 64 GiB, Leaked: 28 MiB, Asserts: 49994761
Unit tests status: SUCCESS
END   Iteration: 1 out of 1

utime 737.141124 stime 227.491366 maxrss 1452776 nvcsw 2813412 nivcsw 12727
minflt 2769436 majflt 628 inblock 88528 oublock 42068544
rchar 37141238 wchar 33796789 syscr 13581 syscw 3824
re

[2021-11-23 10:01] cortx-admin commented on #1253
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26580. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-23 11:55] truptiatseagate commented on #22
@johnbent, @chandradharraval and team will review the request here to setup public Doxygen for Motr repo and they will get back shortly on it.

[2021-11-23 12:30] cortx-admin commented on #1188
PR Raised: https://github.com/Seagate/cortx-motr/pull/1254

[2021-11-24 10:18] nkommuri commented on #1248
QSG is updated in the PR https://github.com/Seagate/cortx-motr/pull/1256

@rupasree-roy  Please let us know your issue is resolved or not? Thanks.

[2021-11-24 10:20] #1188 closed

[2021-11-24 10:20] cortx-admin commented on #1188
PR #1256 merged to main branch.

[2021-11-24 10:20] cortx-admin commented on #1188
{panel:bgColor=#c1c7d0}h2. motr - main branch build pipeline SUCCESS
h3. Build Info:
* Author: Kanchan Chaudhari
* Component Build  :  371
* Release Build    :  2123

  h3. Artifact Location  :
*  http://cortx-storage.colo.seagate.com/releases/cortx/github/main/centos-7.8.2003/2123
{panel}

[2021-11-24 11:29] cortx-admin commented on #1188
{panel:bgColor=#c1c7d0}h2. motr - main branch build pipeline SUCCESS
h3. Build Info:
* Author: Kanchan Chaudhari
* Component Build  :  158
* Release Build    :  647

  h3. Artifact Location  :
*  http://cortx-storage.colo.seagate.com/releases/cortx/github/main/centos-7.9.2009/647
{panel}

[2021-11-24 15:26] r-wambui commented on #1241
@novium258 @swatid-seagate Could you please take a look at this.

[2021-11-24 15:40] r-wambui commented on #661
@nkommuri @truptiatseagate Could you please update on the status of this? Has this been assigned to anyone?

[2021-11-24 15:48] r-wambui commented on #769
@nkommuri has this been assigned to anyone? could you also update if this is planned for current or future sprints.

[2021-11-24 16:05] r-wambui commented on #641
@justinzw could you please update if this still exists? @kiwionly2 the #1173 that you raised in while working on the current issue was resolved and closed. Are you in a position to retest this and confirm if this issue is resolved?

[2021-11-24 16:38] r-wambui commented on #530
@huanghua78 Could you please update on the status of this? Were the patches you suggested earlier implemented? If so should we close this issue?

[2021-11-24 16:41] r-wambui commented on #482
@nkommuri Please update if you were able to reproduce the issue.

[2021-11-24 16:54] r-wambui commented on #475
@andriytk Please update the status on this; was the issue fixed?

[2021-11-24 17:09] r-wambui commented on #769
@nikitadanilov could please assign this to someone, or let's know if this need to be added to backlog.

[2021-11-24 17:12] r-wambui commented on #572
@andriytk @nikitadanilov I'm in the process on clearing the backlog on the issues,  any update on this, has this been assigned to anyone on the Mort team?

[2021-11-24 17:15] r-wambui commented on #474
@andriytk @siningwuseagate @nikitadanilov
Is this issue still a problem? Is the proposed solution something we need to add to documentation, or is it an edge case we don't need to document?

[2021-11-24 17:28] #1241 closed

[2021-11-24 17:38] r-wambui commented on #1253
Hi @yanqingfu I'm working on reproducing this issue.

[2021-11-24 21:52] rupasree-roy commented on #1248
@yanqingfu Thanks, I was able to remove libfabric using the link that you had shared.

[code]
@nkommuri
However while I try to run the fdmi_plugin_st.sh its still giving me errors:
![image](https://user-images.githubusercontent.com/66809998/143317267-107b13f0-8eac-409f-a0df-9b4a534028c0.png)

[2021-11-25 05:17] kiwionly2 commented on #641
@r-wambui

I pull the latest code, build and rerun again, issue #1173 no longer exist.

However I encounter other error caused by rerun system test after my terminal lose connection when running system test.

![image](https://user-images.githubusercontent.com/77140436/143383535-f7c57eed-20e2-4bdc-94a8-fe3457e69974.png)

Running `lsmod` show that this module is still in use by others process.

![im

[2021-11-25 09:49] huanghua78 commented on #530
@r-wambui it has not been fixed.

[2021-11-26 06:51] cortx-admin commented on #1188
Validated with latest changes, error reported here is not observed. Hence, closing this as Done.

[2021-11-26 11:19] zohebkhann commented on #1248
@rupasree-roy After removing libfabric code,  use "scripts/m0 rebuild" command to re-build Motr. Then run fdmi_plugin_st.sh.
 It should work without any issues.
![image](https://user-images.githubusercontent.com/89624145/143573143-76bbccce-a41e-4ece-9ec7-53fa9a2eb1de.png)

[2021-11-27 04:24] rupasree-roy commented on #1248
@zohebkhann I did `scripts/m0 rebuild` and then ran the fdmi_plugin_st.sh but still getting errors:

![image](https://user-images.githubusercontent.com/66809998/143667897-d2a0910b-d567-4380-b09a-d608add320a0.png)

[2021-11-29 06:14] nkommuri commented on #300
@madhavemuri Can you please provide your feedback/input. Thanks.

[2021-11-29 06:57] nkommuri commented on #609
@johnbent , ok lets keep this open until the actual issue is fixed.

[2021-11-29 07:19] zohebkhann commented on #1248
@rupasree-roy Could you please let us know the hash used?

[2021-11-29 07:43] cortx-admin commented on #465
Corresponding Github issue closed.

[2021-11-29 07:43] cortx-admin commented on #465
.

[2021-11-29 07:43] cortx-admin commented on #465
.

[2021-11-29 07:43] cortx-admin commented on #403
Github Issue closed.

[2021-11-29 07:43] cortx-admin commented on #403
.

[2021-11-29 07:43] cortx-admin commented on #403
.

[2021-11-29 20:35] rupasree-roy commented on #1248
@zohebkhann not sure where to get the hash from.

[2021-11-30 08:49] zohebkhann commented on #1248
@rupasree-roy Go to` cortx-motr ` directory(cloned repo dir) and do git log. The topmost(latest) commit hash is the hash we are looking for.

[2021-11-30 19:08] rupasree-roy commented on #1248
Okay you meant commit hash. Its 5021c35a33f7cf6535a030434a22382b0756cb9c.
![image](https://user-images.githubusercontent.com/66809998/144111728-f26b1349-3dd9-40bd-b61a-40612aad80f2.png)

[2021-11-30 20:32] r-wambui commented on #1253
@yanqingfu I did manage to run the `kut` tests without any issues, however I'm having some panic errors on the unit tests

After running the first time
[code]

After running the second time
[code]

Could you please confirm if you are still facing the issues on kut test?

[2021-12-01 06:10] zohebkhann commented on #1248
@rupasree-roy Could please try with latest code changes. Commit hash that you are using is old.
![image](https://user-images.githubusercontent.com/89624145/144181203-6eda59ae-5ea6-4da2-b49f-2b84c193a14b.png)

[2021-12-02 05:49] yanqingfu commented on #1253
yes, I am still facing the kut test issue and also the ut test issue you indicated.

[root@ssc-vm-g3-rhev4-1122 cortx-motr]# scripts/m0 run-ut -t idx-dix-mt
----- run_ut -t idx-dix-mt -----
START Iteration: 1 out of 1
idx-dix-mt [Anatoliy]
  fom [Anatoliy]                                 33.53 sec  293 MiB
  lsf [Anatoliy]                                  0.01 sec   96 KiB
  lsfc [Vikram]

[2021-12-02 08:06] rupasree-roy commented on #1248
@zohebkhann I tried with the latest code:
![image](https://user-images.githubusercontent.com/66809998/144381159-789ad6af-449d-4a82-8f79-775a0746e20d.png)
###
[fdmi_test_result.txt](https://github.com/Seagate/cortx-motr/files/7640115/fdmi_test_result.txt)
I am attaching the log after running the fdmi_plugin_st.sh. I don't see any kv's being created as per the script and its giving some error messag

[2021-12-02 11:21] r-wambui commented on #1253
@yanqingfu I'm pinging @chandradharraval for assistance.

Chandradhar, could you please look into this issue, why we're facing some errors while running the test?

[2021-12-02 12:04] chandradharraval commented on #1253
@r-wambui - This is known issue and the same is fixed via https://github.com/Seagate/cortx-motr/pull/1285(EOS-26618)

[2021-12-02 12:11] r-wambui commented on #1253
@yanqingfu the issue has been resolved with #1285 could you please re-test, just a reminder ensure you have the latest codebase.

[2021-12-02 12:23] cortx-admin commented on #1253
This is known issue and the same is duplicate of EOS-26618. Marking the same Resolved

[~935494] to verify the same with release which includes [https://github.com/Seagate/cortx-motr/pull/1285] fix and close the same

[2021-12-02 15:35] yanqingfu commented on #1253
kut test still has the same issue

[2021-12-02 15:54] chandradharraval commented on #1253
@yanqingfu , @r-wambui
PR for EOS-26618 #1285 is not merged yet. You can test this issue once the same is merged

[2021-12-02 17:49] r-wambui commented on #1253
I'm reopening this to test and confirm if it works.

[2021-12-02 19:02] #1253 closed

[2021-12-03 04:57] chandradharraval commented on #1253
@r-wambui - #1285 is merged now, You can go ahead and test this issue

[2021-12-06 20:53] rupasree-roy commented on #1248
@zohebkhann @JugalPatil helped to resolve this issue.
motr build was failing due to firewall and fdmi plugin was failing due to low space.

Disabled firewalld and added two more disks to the VM ( each 10G ).
Cleared /tmp folder, /var/crash

[2021-12-07 06:59] nkommuri commented on #906
Closing the issue as per the comment from Madhav https://github.com/Seagate/cortx-motr/issues/906#issuecomment-892535988

[2021-12-07 06:59] #906 closed

[2021-12-07 07:02] nkommuri commented on #1248
Closing as the issue is resolved.

[2021-12-07 07:02] #1248 closed

[2021-12-07 07:05] cortx-admin commented on #906
As per the comment from Madhav, (https://jts.seagate.com/browse/EOS-23758?focusedCommentId=2178598&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-2178598)   closing the issue.

[2021-12-07 07:05] cortx-admin commented on #906
.

[2021-12-07 07:05] cortx-admin commented on #906
.

[2021-12-07 08:16] cortx-admin commented on #1253
Verified by reporter.

[2021-12-07 08:16] cortx-admin commented on #1248
Issue resolved. Github issue closed.

[2021-12-07 08:16] cortx-admin commented on #1248
.

[2021-12-07 08:16] cortx-admin commented on #1248
.

[2021-12-07 08:16] cortx-admin commented on #1241
Github issue closed

[2021-12-07 08:16] cortx-admin commented on #1241
.

[2021-12-07 08:16] cortx-admin commented on #1241
.

[2021-12-07 08:16] cortx-admin commented on #1216
Github issue closed.

[2021-12-07 08:17] cortx-admin commented on #1216
.

[2021-12-07 08:17] cortx-admin commented on #1216
.

[2021-12-07 08:17] cortx-admin commented on #1212
Github issue closed

[2021-12-07 08:17] cortx-admin commented on #1212
.

[2021-12-07 08:17] cortx-admin commented on #1212
.

[2021-12-08 10:16] cortx-admin commented on #1253
This was closed erroneously. It is not a duplicate. Hence reopening it.

[2021-12-09 08:45] #644 closed

[2021-12-09 08:45] cortx-admin commented on #644
Bug scrub update : This issue duplicate EOS-20531. Marking the same resolved and the same can be tested with the release which includes EOS-20531

[2021-12-13 06:50] nkommuri commented on #122
@vidyadhar-pinglikar  Is this something being considered as part of Partition STOB implementation?

[2021-12-13 06:55] cortx-admin commented on #644
Duplicate

[2021-12-13 07:03] nkommuri commented on #1037
@truptiatseagate  Can you please assign this to appropriate team/person?

[2021-12-13 12:54] cortx-admin commented on #143
Started working on it. 

[2021-12-13 12:54] #3 closed

[2021-12-13 12:54] cortx-admin commented on #3
[~936118]  has created separate individual PRs. Closing this.

[2021-12-13 12:54] cortx-admin commented on #3
.

[2021-12-13 12:54] cortx-admin commented on #3
.

[2021-12-13 12:54] cortx-admin commented on #3
Following are the individual PRs to update the FDMI doc in Motr repo. Once these are merged I can update the readinglist.md file.

 

[https://github.com/Seagate/cortx-motr/pull/1298]

[https://github.com/Seagate/cortx-motr/pull/1299]

[https://github.com/Seagate/cortx-motr/pull/1300]

 

[2021-12-14 15:43] andriytk opened #1317 "Improve API to switch m0trace completely off at startup time"
Currently, there is `m0_trace_set_mmapped_buffer(false)` API which disables the creation of mmap-ped file with the tracing buffer, but it does not disable the tracing - which still might be the bottleneck and kill the concurrency when many threads are used in the process. (Note: tracing uses the atomic variable for records allocation, which is kills scalability.)

Suggestion: improve `m0_trace_set

[2021-12-14 15:49] cortx-admin commented on #1317
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26950. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-16 13:43] mengwanguc commented on #1036
Hello, can someone help look into this problem?
I tried the latest Motr version and the problem is still there

[2021-12-16 15:23] cortx-admin commented on #450
{noformat}
[root@cortx-data-headless-svc-ssc-vm-rhev4-1739 tmp]# m0crate -S m0crate_sample.yaml
info: starting workload 0
info: workload type          index/3
info: random seed:           0
info: number of threads:     1
info: dix: End of operations.
result: total_s, 156.043289, avg_time_per_op_ns, 876352816.0, key_size_bytes, 16, value_size_bytes, -1, ops, 32
result: PUT, total_time_s, 75.440199,

[2021-12-16 17:05] mengwanguc commented on #1036
Can we resolve this problem?

I'm not stuck by this error though, because I'm working on an old commit `6e8a2dd1f0bf4db9b148d209a66a84142d640bd0` from August. This old commit doesn't have this error.

However, it would be great if we can get this resolved for Motr's latest commit.

@andriytk @r-wambui @hessio @huanghua78

[2021-12-17 04:01] mehjoshi commented on #1036
Thanks @mengwanguc for the update and the confirmation that the problem is still persistent.
I will get someone to look into it and respond.

[2021-12-17 13:39] cortx-admin commented on #530
I ran the dix_repair_st.sh and it failed as shown below, The log file could not be found at the given location. *This needs to be fixed.*
{noformat}
[root@i1u06-m07 st]# ./dix_repair_st.sh --no-setup all
Device "eth1" does not exist.
Device "eth1" does not exist.
We are going to test: all
Device "eth1" does not exist.
SPIEL_OPTS= -l /cortx-motr/dix/cm/st/../../..//motr/.libs/libmotr.so --client @t

[2021-12-20 13:46] andriytk commented on #1317
Implemented by #1319.

[2021-12-20 13:46] #1317 closed

[2021-12-21 06:29] nkommuri commented on #122
Response from Vidyadhar...

[12/13/2021 1:00 PM] Vidyadhar Pinglikar
seg size is provided on cmdline which is typically i guess from sysconfig; partition stob will use that size if provided on cmdline and if not will compute by itself

so to be specific i guess partition stob wont address it; and is out of scope of it.., it just use the size received from cmdline as i/p

in future when hare config

[2021-12-21 07:46] #641 closed

[2021-12-21 07:46] cortx-admin commented on #641
Closing as per the comment from reporter

[2021-12-21 07:46] cortx-admin commented on #641
.

[2021-12-21 07:46] cortx-admin commented on #641
.

[2021-12-24 08:19] ryancaicse opened #1344 "Questions about closing files"
Hi, why is `fclose(fh)` at Line 667 excluded? The file `open at fh = fopen(config_file, "r");` is not closed at the return site.
https://github.com/Seagate/cortx-motr/blob/cb34c00521817ef7927261be4eb5d84dc4b530b5/motr/m0crate/parser.c#L619-L667

[2021-12-24 08:26] cortx-admin commented on #1344
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27104. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-24 18:41] cortx-admin commented on #1166
For this issue PR is created and the same is under review.

M0_ENF_DI flag is added to enable DI, If this flag is not set will work as before without DI.

[2021-12-29 09:52] andriytk commented on #1166
This must be fixed by now.

[2021-12-29 09:52] #1166 closed

[2021-12-31 01:04] andriytk opened #1356 "install-build-deps script fails on CentOS 8"
The `install-build-deps` script mentioned in [QSG](https://github.com/Seagate/cortx-motr/blob/409f711fcfa22b393e34a14f49eab5fa142131bb/doc/Quick-Start-Guide.rst#build) fails on CentOS 8:

[code]

[2021-12-31 01:05] cortx-admin commented on #1356
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27239. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-31 01:06] andriytk commented on #1356
@madhavemuri, could you please take a look or assign it to someone. Thanks.

[2021-12-31 14:03] rkothiya opened #1357 "Resources unavailable in the public doc"
While trying to follow the "[Cortx Manual Deployment 1 Node VM Factory and Field](https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/604438718/CORTX+Manual+Deployment+onto+1+Node+VM+Factory+and+Field
)" we are unable to access the link used for installation.

Also the path mentioned in the curl command needs to be updated.

[2021-12-31 14:05] cortx-admin commented on #1357
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27243. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-04 06:16] nkommuri commented on #1357
@rkothiya  Can you please let us know which links are broken and also the curl command you were mentioning?

[2022-01-04 07:26] rkothiya commented on #1357
@nkommuri , will ping it to you on chat.

[2022-01-04 08:33] cortx-admin commented on #74
This seems a huge task for verifying each link in the document.

Will connect with @huanghua78 for this sooner.

[2022-01-04 14:02] madhavemuri commented on #1356
@imvenkip : Let's review these packages, and pip3 install ipaddress
and on RL 8.4 python2-ipadress is present.
First let's see if we can avoid this package .
@cc :  @nkommuri

[2022-01-04 20:05] hessio commented on #1357
@rkothiya are you able to access the links yourself? I think the links should work for internal Seagate employees?

For people outside of Seagate network this guide should work

[2022-01-04 20:49] johnbent commented on #1357
Hey @hessio , I think it does not work for people outside of Seagate because of:
./install.sh -t http://cortx-storage.colo.seagate.com/releases/cortx/github/stable/centos-7.8.2003/292/prod/

Thanks to @rkothiya and @alfhad for helping diagnose this!

[2022-01-05 01:25] imvenkip commented on #1356
Added changes in build-script. But build-script is failed with different error.

[code]
Now ipaddress step has completed. It is failed with different error.

[code]

[2022-01-05 01:31] imvenkip commented on #1356
Removed ipaddress installation step. It is failed with different error.
[code]

[code]

[2022-01-05 15:01] cortx-admin commented on #20
I ran the STs using cmd:  *sudo scripts/m0 run-st.* I ran System tests both ways using lnet and libfab.

No test was hung, though there were some failures as shown in the below screenshot. Not able to reproduce this issue.

*!image-2022-01-05-17-55-32-513.png!*

[2022-01-05 16:43] johnbent commented on #1357
All, I just noticed that this confluence document has been retired:

![image](https://user-images.githubusercontent.com/2047294/148255298-953a17fa-0fd7-434a-ba72-df0fa3b1714d.png)

So @rkothiya , where did you find a link to this document? We should remove/update that link.

[2022-01-05 16:45] hessio commented on #1357
Oh sorry I made a typo in my message yes I agree with you John this won't work for external people

[2022-01-05 16:46] hessio commented on #1357
cc: @shailesh-vaidya this is the issue I had been talking to you about in Teams, let's continue our discussion here

[2022-01-05 16:50] johnbent commented on #1357
@hessio and @shailesh-vaidya , this particular document has been retired. Why was it created in the first place? We should really just have 4 guides:
1. Run the OVA
2. Build code into containers
3. Deploy containerized code for S3+motr
4. Deploy containerized code for motr only

So why was this new confluence document created? Is it an attempt to make one of these 4? Or something else? In general,

[2022-01-05 17:34] hessio commented on #1357
Sure agreed @johnbent, as for the guide to generate the cortx all image [https://github.com/Seagate/cortx/blob/main/doc/community-build/docker/cortx-all/README.md](https://github.com/Seagate/cortx/blob/main/doc/community-build/docker/cortx-all/README.md) but now to include the built images to [this](https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md) document you ha

[2022-01-06 11:45] andriytk opened #1366 "Do we really need to install avahi-tools?"
We install them at https://github.com/Seagate/cortx-motr/blob/5849c8c075d7ac66ff85199b5156889a21fb9f2e/scripts/provisioning/roles/base-os/vars/RedHat.yml#L40

But in CentOS 8 it's available only in the development repo and is not recommended. Hence the question - do we really need it and, if yes - how do we use it? If not - we better drop it then.

cc @chumakd

[2022-01-06 11:50] cortx-admin commented on #1366
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27302. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-06 13:54] chumakd commented on #1366
@andriytk AFAIR, `avahi-tools` were only needed with Vagrant virtual machines, I think the dependency can be safely dropped as it's not relevant for the current CORTX development environment, which is not based on Vagrant VMs any more.

[2022-01-06 18:01] johnbent commented on #1366
@rkothiya and @alfhad, this issue might be relevant to you two. Just tagging you two as an FYI.

[2022-01-06 18:11] #1356 closed

[2022-01-07 05:31] cortx-admin commented on #1344
Completed the code changes.
Apart from file closure statements, there were other objects, which were not deleted as part of clean up.
Hence added those call's also, as part of the PR.
PR Link: https://github.com/Seagate/cortx-motr/pull/1369

[2022-01-07 05:31] cortx-admin commented on #1344
Raising code review.

[2022-01-07 09:37] cortx-admin commented on #1356
Github issue closed

[2022-01-07 09:37] cortx-admin commented on #1356
.

[2022-01-07 09:37] cortx-admin commented on #1356
.

[2022-01-07 17:46] johnbent commented on #1344
Thank you @ryancaicse for finding this bug! Just curious, by the way, how did you find it?

[2022-01-10 03:25] ryancaicse commented on #1344
@johnbent Hi, this is found by a static detector I write.

[2022-01-10 06:19] nkommuri commented on #20
As per the Zoheb comment, we aren't seeing the issue now which is reported in 2020.  Closing.

[2022-01-10 06:19] #20 closed

[2022-01-10 07:21] cortx-admin commented on #1344
Unit Test: m0crate system-test results.
{noformat}
[root@ssc-vm-rhev4-1323 cortx-motr]# ./scripts/m0 run-st 43m0crate
----- run_st 43m0crate -----
<< 43m0crate >>
m0crate TEST ...
/root/cortx-motr/motr/st/utils/m0crate_st_workloads.yaml
n k s p:2 1 1 4
vm.max_map_count = 30000000
motr_service_start: (N,K,S,P)=(3,2,2,20) nr_ios=4 multiple_pools=0
1+0 records in
1+0 records out
1048576 bytes (1.0 MB

[2022-01-10 07:21] cortx-admin commented on #1166
[EOS-26312: enable di flag s3 api motr side changes by rajatpatil98 · Pull Request #1345 · Seagate/cortx-motr (github.com)|https://github.com/Seagate/cortx-motr/pull/1345]

[2022-01-10 07:21] cortx-admin commented on #1166
Flag is introduced to check for usage of attr variable, if M0_ENF_DI is enabled, than only attr variable will be used for data integrity.

[2022-01-10 07:21] cortx-admin commented on #20
Issue is not seen now. Closing.

[2022-01-10 07:21] cortx-admin commented on #20
.

[2022-01-10 07:21] cortx-admin commented on #20
.

[2022-01-10 08:02] alfhad commented on #1366
As I am not working in Seagate, I need to create a vagarant setup for my dev env, I would request you to keep it for community members.

[2022-01-10 10:25] cortx-admin commented on #283
in LC environment, {{hctl shutdown}} no more supported
{quote}[root@cortx-data-headless-svc-ssc-vm-g4-rhev4-0027 /]# *hctl shutdown*
Failed to get D-Bus connection: Operation not permitted
Failed to get D-Bus connection: Operation not permitted
Cluster is not running
[root@cortx-data-headless-svc-ssc-vm-g4-rhev4-0027 /]#
{quote}
we do {{./destroy-cortx-cloud.sh}} it would take hardly 3-4 minutes.

[2022-01-10 10:35] andriytk commented on #1366
@alfhad, could you please verify, whenever you will have a chance, whether it will work on CentOS 8 Vagrant setup without avahi-tools?

@chumakd, do you remember by any chance - what exactly it was needed for? Because `avahi` package is still installed, so I wonder - what would not work if we skip installing `avahi-tools`?

[2022-01-10 15:44] kiwionly2 opened #1372 "missing example - fdmi_app_hello in FDMI doc"
Hi,

While browse through FDMI [document](https://github.com/Seagate/cortx-motr/blob/main/fdmi/plugins/motr-fdmi-app.md), I could not found example script `fdmi_app_hello` as state in the document which suppose in `cortx-motr/fdmi/plugins` directory.

![image](https://user-images.githubusercontent.com/77140436/148794569-c0979f03-6a47-436c-88bc-9e87a8a68517.png)

Any idea?

[2022-01-10 15:45] cortx-admin commented on #1372
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27328. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-10 16:12] johnbent commented on #1344
Very cool! Is it publicly available? If so, can you provide a link please? Perhaps we should add it to our own CI/CD.

@swapnil-seagate , was this bug not found by Codacy?

[2022-01-11 03:12] lia54 commented on #1372
Hi @kiwionly2,

Thanks for pointing this out.
I created a PR to add the FDMI application to the main branch in cortx-motr repo under the fdmi/plugins directory. This PR might take time to get merged.

In the meanwhile, you can access the application in the same PR:
https://github.com/Seagate/cortx-motr/pull/1373/files

Thanks!

[2022-01-11 09:06] cortx-admin commented on #1344
{panel:bgColor=#c1c7d0}h2. motr - main branch build pipeline SUCCESS
h3. Build Info:
* Author: 86768616+swapnil-seagate
* Component Build  :  310
* Release Build    :  791

  h3. Artifact Location  :
*  http://cortx-storage.colo.seagate.com/releases/cortx/github/main/centos-7.9.2009/791
{panel}

[2022-01-11 11:09] #1344 closed

[2022-01-11 11:09] cortx-admin commented on #1344
Done

[2022-01-11 11:09] cortx-admin commented on #1344
Done

[2022-01-11 12:52] hessio commented on #1344
Hi @ryancaicse is this tool you mentioned available to open-source community?

[2022-01-12 08:22] ryancaicse commented on #1344
Hi, @hessio @johnbent Thank you for your interest. My tool is still under development and not available now.

[2022-01-12 09:48] alfhad commented on #1366
@andriytk  I am using Fedora 35 on my laptop on which I am creating a Centos 7.9 machine with cortx setup which I am planning to convert to a vagrant setup. I haven't been successful so far.  Any pointers will help

[2022-01-12 10:16] andriytk commented on #1366
We didn't use Fedora as a host, but I don't see why it shouldn't be possible. Which virtualisation do you use on it, KVM? Did you follow https://github.com/Seagate/cortx-motr/blob/main/scripts/provisioning/README.md guide? What problems do you see, at what step?

Let's continue in Slack about the vagrant setup issues at https://cortxcommunity.slack.com/archives/C019S0SGWNQ.

[2022-01-12 11:32] hessio commented on #1344
Ah ok no worries, would be cool if we could make it public when it is complete.

[2022-01-12 18:00] johnbent commented on #1344
Thanks @ryancaicse ! We really appreciate you running it on our code and helping us find this! By the way, are you generally familiar with static code analysis tools? We have been using Codacy and I'm surprised and disappointed that it didn't find this. Since your tool isn't available now, would you mind recommending, if you know, which are the best available tools which we should be using?

[2022-01-12 18:56] johnbent commented on #1248
@rupasree-roy , did you learn how to diagnose this yourself for the future? If so, it would be a great contribution to document this somewhere. If you create a new page to do so, please make sure to add a link to it from an existing page.

[2022-01-13 09:30] rajrana22 opened #1384 "Possible failure to build Motr (unit test not working)"
I am getting an issue on step 4 in the quick start guide. The build stops without any indication of completion but with the following message:
`WARNING: modpost: missing MODULE_LICENSE() in /home/cc/cortx-motr/m0ctl.o`
`WARNING in make output is treated as error`

I'm not entirely sure if this error is limiting for building/running Motr, but the reason I believe so is that when I attempted to run

[2022-01-13 09:31] cortx-admin commented on #1384
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27532. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-13 12:44] cortx-admin commented on #1037
We do not have ready skills for go language. We will pick this up in some future sprint.

[2022-01-13 13:00] hessio commented on #1384
Hi @rajrana22 have you tried the debugging steps in the issue that you have tagged from Dan? And if so what errors are you getting when you try these steps?

[2022-01-13 14:33] alfhad commented on #1366
I am getting the following error while trying to join the Slack
[code]

[2022-01-13 15:46] rajrana22 commented on #1384
Hi @hessio my current issue listed here is different from Dan's. I just was noting as additional information that before I ran into this current issue, I ran into the same problem as Dan did in case that might be relevant to the current issue I have. I solved the issue that was similar to Dan's by following the Troubleshooting section of the quick start guide but with using eth0 instead of eth1.

[2022-01-13 17:48] gregnsk opened #1385 "Dependencies question"
I'm building Motr following  https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst

I see that `sudo scripts/install-build-deps` installs Lustre. It also uses python 2.7

Why does it install Lustre if I'm not planning to use Lnet?

Also, do we have any dependency on Python 2?

[2022-01-13 17:50] cortx-admin commented on #1385
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27540. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-13 18:54] cortx-admin commented on #1385
I also see the following statement in https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/711230113/Libfabric+setup+and+using+libfabric+with+motr:
"The default transport in the motr branch would be Lnet."

Is it still the case?
Libfabric should be the default

[~520423]

[2022-01-13 18:54] cortx-admin commented on #1385
see also https://jts.seagate.com/browse/EOS-27542 and https://jts.seagate.com/browse/EOS-27543

[2022-01-13 19:33] johnbent commented on #1366
@alfhad , can you please try joining with this link: https://cortx.link/join-slack?

If that doesn't work, @novium258 should be able to help us figure it out. Thanks!

[2022-01-13 23:38] johnbent commented on #1248
Exactly! Let me know if you want to meet to discuss this.

[2022-01-14 07:13] ryancaicse commented on #1344
@johnbent Sorry, I am not familiar with commercial static analysis tools. To my knowledge, Codacy and Fortify are some of the best commercial static scanners. For free, Facebook Infer is a good choice.

It is also surprising to me that Codacy can miss this bug because this bug is not very complicated. I guess, Codacy does not support file descriptor leak detection. Maybe you can send feedback to t

[2022-01-14 09:16] alfhad commented on #1366
@johnbent I was able to join Slack using this link: https://cortx.link/join-slack/

Thanks!

[2022-01-14 18:34] rupasree-roy commented on #1248
Sure John. Will look into your calendar and schedule a meeting.

Thanks,
Rupasree
________________________________
From: John Bent ***@***.***>
Sent: Thursday, January 13, 2022 3:38 PM
To: Seagate/cortx-motr ***@***.***>
Cc: Rupasree Roy ***@***.***>; Mention ***@***.***>
Subject: Re: [Seagate/cortx-motr] motr build errors (Issue #1248)

This message has originated from an External Source. Please

[2022-01-14 20:59] johnbent opened #1391 "Codacy integration broke"
![image](https://user-images.githubusercontent.com/2047294/149584259-d8467ed1-2754-444c-93e2-dcdaa7a3ff62.png)

Somehow Codacy stopped working for this repo. @nkommuri and @mukul-seagate11 , can you please figure out an assignee for this?

[2022-01-14 21:01] cortx-admin commented on #1391
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27559. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-14 21:20] johnbent commented on #1344
Thanks @ryancaicse ! I created a Codacy discussion about this: https://community.codacy.com/t/leaking-file-descriptors/755.

[2022-01-17 11:45] kiwionly2 opened #1392 "incorrect link for motr/client.h overview section"
I found the link for  `exascale E10 stack (see eiow.org). ` in **overview** section no longer valid, eiow.org had link to a spam site.

`https://opensfs.org` probably is the latest/correct link.

[2022-01-17 11:52] cortx-admin commented on #1392
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27570. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-17 22:53] mengwanguc commented on #1384
I also failed unit testing. Looks like it's failing a different unit test though:

[code]

I also had install `python2-devel` btw, otherwise I will get `fatal error: Python.h: No such file or directory`

[2022-01-18 06:34] nkommuri commented on #1391
@mukul-seagate11  Can you please have a look at this and provide you feedback. Thanks.

[2022-01-18 06:55] nkommuri commented on #1384
Here are the Jira ticket already open for the above issues.

https://jts.seagate.com/browse/EOS-27572
https://jts.seagate.com/browse/EOS-26865

[2022-01-18 07:03] cortx-admin commented on #1384
.

[2022-01-18 07:03] cortx-admin commented on #1384
.

[2022-01-18 07:20] nkommuri commented on #1357
Hi @johnbent , This confluence page is retired after raising this issue. Closing this issue as it is no more valid.

[2022-01-18 07:20] #1357 closed

[2022-01-18 07:22] cortx-admin commented on #1384
Both the issues mentioned under this Jira will be fixed by below JIRAs:

1. https://jts.seagate.com/browse/EOS-27572 

2. https://jts.seagate.com/browse/EOS-26865

[2022-01-18 16:04] johnbent commented on #1384
Reopening until @rajrana22 says this is resolved for him.

[2022-01-18 16:06] cortx-admin commented on #1384
[~530903] and [~934462], this shouldn't be closed until the community member says that it is resolved for them. Why was this close?

[2022-01-18 16:10] johnbent commented on #1384
@rajrana22 , apparently this will be fixed by next Tuesday.

[2022-01-18 17:00] johnbent commented on #1357
Thanks @nkommuri !

[2022-01-18 17:18] cortx-admin commented on #1384
Hi [~535110],

As a process, if we have duplicate JIRAs then we mark one the of Jira as Resolved(Not Close) and when other Jira is fixed then we assign those JIRAs to reporter for validation and then mark Jira as Closed

Challenge with Github is there is no Resolved state, so if we mark JIRA as Resolved, it will close corresponding Github issue. We will see what is other best way to manage this (O

[2022-01-18 17:18] cortx-admin commented on #1384
Thanks [~530903], that makes sense. As we discussed in Teams, please do leave community opened tickets open until the problem is actually fixed and either:
1. The community member has reported that it is fixed

2. We have commented to say, "It is fixed, please try again" and the community member has not replied for 3 business days. At that point, we can close it with, "We haven't heard back from y

[2022-01-18 19:49] johnbent commented on #1391
I sent an email to Codacy and it was a problem on their end. It has been fixed now. This issue can be closed. @nkommuri can you please close it in Jira and boardgenius will echo that here?

[2022-01-19 08:03] kiwionly2 opened #1401 "Document for how motr work in high level detail"
Hi,

I am trying to run some sample for motr client from  `motr/examples` and `bindings/go` sample, it is working accordingly.

Smple below show how I am running go client binding for mkv.

Some how I still could not understand how the underlying system work, ( even for some parameter, I am trial and error and hopefully it just work )

Is that any documentation that could describe how motr work on

[2022-01-19 08:05] cortx-admin commented on #1401
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27661. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-19 09:15] kiwionly2 opened #1403 "Outdated link in Reading list"
While browse thought the documentation : [reading list](https://github.com/Seagate/cortx-motr/blob/main/doc/reading-list.md), I found that link in [Network](https://github.com/Seagate/cortx-motr/blob/main/doc/reading-list.md#network) session : [LNET: Lustre Networking](https://wiki.lustre.org/Lid/ulfi/ulfi_lnet.html) no longer have correct information.

![image](https://user-images.githubuserconte

[2022-01-19 10:32] r-wambui commented on #1403
@kiwionly2 should this be the correct reference link? -> https://wiki.lustre.org/Lustre_Networking_(LNET)_Overview

[2022-01-19 10:34] kiwionly2 commented on #1403
@r-wambui

This seem like correct, maybe some one could help to confirm ?

[2022-01-19 10:45] r-wambui commented on #1403
@johnbent you're one of the contributors of the reading-list.md, could you please confirm the link above so we can update accordingly.

[2022-01-19 13:40] hessio commented on #1401
Hi @kiwionly2 I think you are right it is difficult to find a lot of the answers to these things, we are working on improving this however. Have you had a look at `/doc/pdf` there are a lot of pdfs that begin with HDL(